@charset "utf-8";

// color set
$blue1: #345299; //백그라운드 컬러
$blue2: #4464af; //텍스트, 버튼라인 컬러

$darkBlue1: #1d4695; //버튼 백그라운드

$orange: #f57b05;
$green: #0d8f53;
$cyan: #a7f6ff; //옥색

$black: #212121;
$white: #ffffff;

$lightgray: #f7f7f7;

$gray1: #878787; //more 텍스트
$gray2: #cccccc; //얇은 라인
$gray3: #cfcfcf; //두꺼운 라인
$gray4: #e1e2e4; //초 얇은 라인
$gray5: #e1e1e1;

$darkgray1: #474747; //푸터하단
$darkgray2: #545454; //푸터상단
$darkgray3: #707070;

