@charset "utf-8";

// color set
$blue1: #345299; //백그라운드 컬러
$blue2: #4464af; //텍스트 컬러

$darkBlue1: #274282; //어두운 백그라운드

$orange: #f57b05;
$green: #0d8f53;
$cyan: #a7f6ff; //옥색

$black: #212121;
$white: #ffffff;

$gray1: #e1e2e4; //초 얇은 라인
$gray2: #cccccc; //얇은 라인
$gray3: #cfcfcf; //두꺼운 라인
$gray4: #ebebeb; //푸터 백그라운드

$darkgray: #545454;

