@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 300; src: url(../fonts/NotoSans-Light.eot); src: local("Noto Sans Light"), local("NotoSans-Light"), local("NotoSansKR Light"), local("Noto Sans KR Light"), local("NotoSans Korean Light"), local("Noto Sans Korean Light"), url(../fonts/NotoSans-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSans-Light.woff) format("woff"), url(../fonts/NotoSans-Light.woff2) format("woff2"), url(../fonts/NotoSans-Light.otf) format("opentype"); }

@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 400; src: url(../fonts/NotoSans-Regular.eot); src: local("Noto Sans Regular"), local("NotoSans-Regular"), local("NotoSansKR Regular"), local("Noto Sans KR Regular"), local("NotoSans Korean Regular"), local("Noto Sans Korean Regular"), url(../fonts/NotoSans-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSans-Regular.woff) format("woff"), url(../fonts/NotoSans-Regular.woff2) format("woff2"), url(../fonts/NotoSans-Regular.otf) format("opentype"); }

@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 500; src: local("Noto Sans Medium"), local("NotoSans-Medium"), local("NotoSansKR Medium"), url(../fonts/NotoSans-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSans-Medium.woff) format("woff"), url(../fonts/NotoSans-Medium.woff2) format("woff2"), url(../fonts/NotoSans-Medium.otf) format("opentype"); }

@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 700; src: local("Noto Sans Bold"), local("NotoSans-Bold"), local("NotoSansKR Bold"), url(../fonts/NotoSans-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSans-Bold.woff) format("woff"), url(../fonts/NotoSans-Bold.woff2) format("woff2"), url(../fonts/NotoSans-Bold.otf) format("opentype"); }

@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 900; src: local("Noto Sans Black"), local("NotoSans-Black"), local("NotoSansKR Black"), url(../fonts/NotoSans-Black.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSans-Black.woff) format("woff"), url(../fonts/NotoSans-Black.woff2) format("woff2"), url(../fonts/NotoSans-Black.otf) format("opentype"); }

body, button, h1, h2, h3, h4, h5, h6, input, select, table, textarea { font-family: "Noto Sans KR", sans-serif; }

.onlymobile { display: block; }

.onlypc { display: none; }

.mobilebr { display: block; }

#acc-nav { position: relative; width: 100%; z-index: 201; }

#acc-nav > a { position: absolute; top: -12rem; left: 0; right: 0; height: 4rem; padding: 0 20px 0 26px; border-bottom: 1px solid #6d6d6d; font-size: 2rem; line-height: 4rem; background-color: #474747; color: #ffffff; text-align: center; }

#acc-nav > a:active, #acc-nav > a:focus { overflow: hidden; top: 0; text-decoration: none; }

#header { position: fixed; top: 0; right: 0; left: 0; z-index: 99; width: 100%; margin: 0 auto; background-color: #ffffff; border-bottom: 1px solid #e1e2e4; }

#header .gnb_bg { display: none; position: absolute; top: 90px; left: 0; right: 0; width: 100%; height: 270px; background-color: #ffffff; content: ''; border-bottom: 5px solid #4464af; opacity: .95; webkit-box-shadow: inset 0 2px 6px 0px rgba(0, 0, 0, 0.15); -webkit-box-shadow: inset 0 2px 6px 0px rgba(0, 0, 0, 0.15); box-shadow: inset 0 2px 6px 0px rgba(0, 0, 0, 0.15); }

#header .inner { position: relative; width: 100%; margin: 0 auto; padding: 12px 20px; text-align: center; max-width: 100%; min-width: 320px; font-size: 0; }

#header .logo > a { display: block; width: 107px; height: 26px; background: url(../img/common/logo.png) 0 0 no-repeat; background-size: auto 100%; }

#header .btn_m_menu { position: absolute; top: 9px; right: 10px; display: block; width: 36px; height: 34px; background: url(../img/common/btn_m_menu.png) 50% 50% no-repeat; background-size: 16px 14px; }

#header #gnb { position: relative; display: none; margin-left: 223px; }

#header #gnb .depth1 { position: relative; }

#header #gnb .depth1:before { position: absolute; left: 88px; bottom: -63px; right: 88px; height: 1px; background-color: #cfcfcf; content: ''; }

#header #gnb .depth1 > li { float: left; width: 178px; text-align: center; }

#header #gnb .depth1 > li > a { position: relative; display: block; height: 89px; margin: 0 20px; padding: 20px 0; line-height: 43px; font-size: 18px; }

#header #gnb .depth1 > li > a:after { position: absolute; left: 50%; bottom: 23px; width: 7px; height: 7px; background-color: #cfcfcf; content: ''; -webkit-transition: width .3s; transition: width .3s; -webkit-transform: translate(-50%, 0px); transform: translate(-50%, 0px); -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }

#header #gnb .depth1 > li:first-child { margin-left: 0; }

#header #gnb .depth1 > li.menuOpen > a, #header #gnb .depth1 > li:hover > a, #header #gnb .depth1 > li:focus > a { color: #1d4695; }

#header #gnb .depth1 > li.menuOpen > a:after, #header #gnb .depth1 > li:hover > a:after, #header #gnb .depth1 > li:focus > a:after { width: 35px; background-color: #4464af; -webkit-transition: width .3s; transition: width .3s; }

#header #gnb .depth1 > li.menuOpen .depth2, #header #gnb .depth1 > li:hover .depth2, #header #gnb .depth1 > li:focus .depth2 { display: block; }

#header #gnb .depth2 { display: none; position: absolute; top: 90px; left: 0; right: 0; height: 270px; margin-left: 60px; padding: 20px 0 35px 0; text-align: left; }

#header #gnb .depth2 > li { display: inline-block; width: 180px; text-align: left; }

#header #gnb .depth2 > li > a { position: relative; font-size: 16px; line-height: 30px; color: #212121; }

#header #gnb .depth2 > li > a:after { position: absolute; bottom: -2px; left: 0; width: 0; height: 1px; background-color: #4e4e4e; content: ''; -webkit-transition: width .3s; transition: width .3s; }

#header #gnb .depth2 > li.menuOpen > a:after, #header #gnb .depth2 > li:hover > a:after, #header #gnb .depth2 > li:focus > a:after { width: 100%; }

#header #gnb .depth3 { margin-top: 9px; }

#header #gnb .depth3 > li > a { position: relative; font-size: 14px; line-height: 36px; color: #212121; }

#header #gnb .depth3 > li > a:before { content: '-'; padding-right: 3px; }

#header #gnb .depth3 > li > a:after { position: absolute; bottom: -2px; left: 0; width: 0; height: 1px; background-color: #7e7d7f; content: ''; -webkit-transition: width .3s; transition: width .3s; }

#header #gnb .depth3 > li:hover > a:after, #header #gnb .depth3 > li:focus > a:after { width: 100%; }

#header .util { display: none; position: absolute; top: 28px; right: 0; }

#header .util > a { display: inline-block; width: 100px; height: 35px; margin-right: 10px; font-size: 14px; line-height: 30px; text-align: center; }

#header .util .btn_login { color: #2d5ba8; border: 1px solid #2d5ba8; }

#header .util .btn_join { color: #ffffff; background-color: #2d5ba8; border: 1px solid #2d5ba8; }

#container { padding-top: 51px; }

.banner { position: relative; display: table; width: 100%; height: 115px; background: url(../img/page/solution/m_banner.jpg) 50% 50% no-repeat; background-size: cover; }

.banner .inner { display: table-cell; width: 100%; padding: 20px; vertical-align: middle; text-align: center; word-wrap: break-word; word-break: keep-all; }

.banner h1 { font-weight: 700; font-size: 21px; line-height: 21px; color: #2d5ba8; }

.banner p { font-weight: 300; font-size: 7px; margin-top: 5px; }

.breadcrumb { text-align: right; padding: 0 20px; border-bottom: 1px solid #ebebeb; }

.breadcrumb ul { overflow: hidden; }

.breadcrumb li { display: inline-block; margin-right: 10px; font-size: 10px; line-height: 25px; height: 25px; }

.breadcrumb li:after { display: inline-block; content: '>'; margin-left: 10px; }

.breadcrumb li:last-child { margin-right: 0; }

.breadcrumb li:last-child:after { display: none; }

.top_select_wrap { padding: 10px 0; text-align: center; background-color: #f3f5f8; border-top: 1px solid #dbdde3; border-bottom: 3px solid #dbdde3; }

#footer { background-color: #ebebeb; }

#footer .inner .ft_terms { overflow: hidden; padding: 0 20px; text-align: center; border-top: 1px solid #bebebe; border-bottom: 1px solid #bebebe; }

#footer .inner .ft_terms li { display: inline-block; margin: 0 10px; font-size: 12px; line-height: 48px; color: #545454; }

#footer .inner .logo { width: 39.5px; height: 28px; background: url(../img/common/logo_m_footer.png) 0 0 no-repeat; background-size: 100% auto; }

#footer .inner .ft_btm { padding: 20px 20px 25px; }

#footer .inner .ft_btm .ft_info { margin-top: 5px; }

#footer .inner .ft_btm .ft_info .ft_address { overflow: hidden; font-size: 8px; line-height: 24px; color: #545454; }

#footer .inner .ft_btm .ft_info .ft_address .title { color: #4464af; font-weight: 600; }

#footer .inner .ft_btm .ft_info .ft_address .info { float: left; margin-right: 20px; }

#footer .inner .ft_btm .ft_info .ft_address .tit { position: relative; margin-right: 4px; font-weight: 600; }

#footer .inner .ft_btm .ft_info .ft_address .tit:after { display: inline-block; margin-left: 5px; content: '.'; }

#footer .inner .ft_btm .ft_info .ft_address .btn_busi_info { padding: 0 8px 1px 8px; background-color: #ffffff; border: 1px solid #959595; }

#footer .inner .ft_btm .ft_info .copyright { color: #545454; font-size: 7px; }

#m_layer_menu { display: none; position: fixed; top: 0; left: 0; z-index: 999999; width: 100%; height: 100%; overflow: hidden; background-color: #4464af; }

#m_layer_menu .layer_wrap { position: absolute; top: -100px; left: 0; width: 100%; height: 100%; overflow: auto; -webkit-transition: top .3s; transition: top .3s; }

#m_layer_menu .layer_wrap .top { overflow: hidden; background-color: #345299; }

#m_layer_menu .logo a { display: block; width: 107px; height: 26px; margin: 12px 0 12px 20px; background: url(../img/common/logo_white.png) 0 0 no-repeat; background-size: auto 100%; }

#m_layer_menu .util { text-align: right; padding: 0 20px; background-color: #ffffff; }

#m_layer_menu .util > a { position: relative; display: inline-block; height: 60px; margin-left: 25px; padding-left: 33px; line-height: 60px; font-size: 14px; color: #4464af; font-weight: 500; }

#m_layer_menu .util > a:before { position: absolute; top: 19px; left: 0; width: 22px; height: 22px; margin-bottom: -5px; content: ''; }

#m_layer_menu .util > a.btn_login:before { background: url(../img/common/ico_login.png) 0 0 no-repeat; background-size: 100% auto; }

#m_layer_menu .util > a.btn_join:before { background: url(../img/common/ico_join.png) 0 0 no-repeat; background-size: 100% auto; }

#m_layer_menu .util > a:after { position: absolute; top: 23px; left: -10px; width: 1px; height: 14px; margin-bottom: -2px; background-color: #4464af; content: ''; }

#m_layer_menu .util > a:first-child { margin-left: 0; }

#m_layer_menu .util > a:first-child:after { display: none; }

#m_layer_menu .btn_close_m_menu { position: absolute; top: 9px; right: 10px; width: 34px; height: 34px; background: url(../img/common/btn_close.png) 50% 50% no-repeat; background-size: 14px 14px; content: ''; font-size: 0; }

#m_layer_menu #m_gnb { background-color: #4464af; overflow-y: scroll; }

#m_layer_menu #m_gnb button, #m_layer_menu #m_gnb a { width: 100%; cursor: pointer; text-align: left; }

#m_layer_menu #m_gnb .depth1 > li { position: relative; line-height: 50px; }

#m_layer_menu #m_gnb .depth1 > li:before { position: absolute; top: 50px; left: 0; width: 100%; height: 1px; content: ''; background-color: rgba(255, 255, 255, 0.3); }

#m_layer_menu #m_gnb .depth1 > li > button { position: relative; width: 86%; height: 50px; line-height: 50px; padding-left: 45px; font-size: 15px; text-align: left; color: #ffffff; }

#m_layer_menu #m_gnb .depth1 > li > button:before { position: absolute; top: 50%; left: 20px; width: 12px; height: 5px; margin-top: -2px; background-color: #ffffff; opacity: 0.5; content: ''; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }

#m_layer_menu #m_gnb .depth1 > li .btn_go { position: absolute; top: 7px; right: 20px; display: block; width: 40px; height: 35px; font-size: 0; z-index: 5; }

#m_layer_menu #m_gnb .depth1 > li .btn_go:before { position: absolute; top: 50%; right: 1px; width: 18px; height: 1px; content: ''; background-color: #ffffff; }

#m_layer_menu #m_gnb .depth1 > li .btn_go:after { position: absolute; top: 50%; right: 1px; width: 8px; height: 8px; margin-top: -4px; content: ''; border: solid white; border-width: 0 1px 1px 0; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); }

#m_layer_menu #m_gnb .depth1 > li:last-child > button { border-bottom: none; }

#m_layer_menu #m_gnb .depth1 > li.menuOpen > .depth2 { display: block !important; }

#m_layer_menu #m_gnb .depth2 { display: none; background-color: #345299; }

#m_layer_menu #m_gnb .depth2 > li { line-height: 33px; }

#m_layer_menu #m_gnb .depth2 > li > button, #m_layer_menu #m_gnb .depth2 > li > a { position: relative; height: 33px; padding-left: 50px; font-size: 13px; line-height: 33px; color: #ffffff; }

#m_layer_menu #m_gnb .depth2 > li > button:before, #m_layer_menu #m_gnb .depth2 > li > a:before { display: inline; margin-right: 7px; content: '-'; }

#m_layer_menu #m_gnb .depth2 > li.menuOpen .depth3 { display: block; }

#m_layer_menu #m_gnb .depth3 { display: none; background-color: #274282; padding: 5px 0 10px 0; }

#m_layer_menu #m_gnb .depth3 > li { line-height: 21px; }

#m_layer_menu #m_gnb .depth3 > li > a { position: relative; display: inline-block; width: 100%; height: 21px; padding-left: 57px; font-size: 11px; line-height: 30px; color: #ffffff; }

#m_layer_menu #m_gnb .depth3 > li > a:before { display: inline-block; width: 3px; height: 3px; margin-top: -1px; margin-right: 10px; background-color: #ffffff; content: ''; -webkit-border-top-left-radius: 50%; -webkit-border-top-right-radius: 50%; -webkit-border-bottom-left-radius: 50%; -webkit-border-bottom-right-radius: 50%; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-left-radius: 50%; border-bottom-right-radius: 50%; }

#m_layer_menu .terms_link { overflow: hidden; margin-top: 73px; padding: 0 20px; }

#m_layer_menu .terms_link:before { display: inline-block; width: 20px; height: 2px; margin-bottom: 25px; background-color: #ffffff; content: ''; }

#m_layer_menu .terms_link li { float: left; position: relative; font-size: 12px; color: #ffffff; margin-left: 16px; }

#m_layer_menu .terms_link li:before { display: inline-block; content: '|'; margin-right: 16px; }

#m_layer_menu .terms_link li:first-child { margin-left: 0; }

#m_layer_menu .terms_link li:first-child:before { display: none; }

#m_layer_menu .contact { margin-top: 20px; padding: 0 20px 0 75px; color: #ffffff; background: url(../img/common/ico_m_call.png) 20px 50% no-repeat; background-size: 40px 40px; }

#m_layer_menu .contact .phone { font-size: 20px; }

#m_layer_menu .contact .hour { display: block; font-size: 12px; }

#m_layer_menu.menuOpen { display: block; }

#m_layer_menu.menuOpen .layer_bg { opacity: .7; }

#m_layer_menu.menuOpen .layer_wrap { top: 0; }

.form_field { max-width: 640px; width: 100%; margin: 20px auto; padding: 0 20px; overflow: hidden; }

.form_field hr { border: none; background-color: #7b9ad8; height: 2px; margin: 20px 0; }

.form_field table { width: 100%; }

.form_field table th { width: 110px; font-weight: normal; padding: 7px 13px; }

.form_field table th, .form_field table td { font-size: 13px; text-align: left; }

.form_field table td { padding: 7px 4px; }

.form_field table th { background-color: #f7f7f7; font-weight: 400; }

.form_field p { font-size: 14px; line-height: 18px; }

.form_field .msg { margin: 20px 0; font-size: 12px; line-height: 16px; }

.form_field .ipbx_item + p { margin-top: 5px; font-size: 12px; color: #4d5eab; }

.form_field .ipbx_item { margin-bottom: 0; }

.form_field .ipbx_item .u_selbox .sel { min-width: 150px; width: auto; padding: 11px 35px 11px 15px; font-size: 14px; line-height: 14px; background: #ffffff url(../img/page/solution/ico_arrow.png) 90% 50% no-repeat; background-size: 13px 9px; }

.form_field .ipbx_item .u_ipbx .int { min-width: 120px; width: auto; }

.form_field .sel_list { overflow: hidden; }

.form_field .sel_list li { display: inline-block; margin-right: 10px; }

.form_field .sel_list li:last-child { margin-right: 0; }

.form_field .sel_list li img { display: block; }

.form_field .sel_list input[type="radio"] { display: inline-block; }

.form_field .sel_list input[type="radio"] + label { display: inline-block; font-size: 14px; padding-left: 3px; }

.form_field input[type="checkbox"] + label { line-height: 24px; }

.form_field input[type="checkbox"]:checked + label:after { top: 4px; }

h3.tit { position: relative; font-size: 16px; line-height: 40px; }

h3.tit span { font-weight: 300; }

h3.tit:before { display: inline-block; width: 10px; height: 10px; margin-right: 6px; background-color: #57616d; content: ''; }

.btn_wrap { overflow: hidden; margin: 20px auto; text-align: center; }

.btn_wrap a, .btn_wrap button { display: inline-block; width: 100%; color: #ffffff; font-size: 14px; text-align: center; line-height: 40px; }

.btn_wrap .btn_l { width: 280px; }

.btn_wrap .btn_m { width: 120px; }

.btn_wrap .btn_sm { width: 70px; }

.btn_lb { background-color: #7b9ad8; }

.btn_lb:hover { background-color: #6888c7; }

.btn_blue { background-color: #4464af; }

.btn_blue:hover { background-color: #2d5ba8; }

.btn_gray { background-color: #707070; }

.btn_gray:hover { background-color: #474747; }

.btn_fold { position: relative; float: right; font-size: 12px; color: #ffffff; margin-top: 5px; padding: 2px 30px 2px 16px; background: #474747; }

.btn_fold:after { position: absolute; top: 50%; right: 14px; width: 9px; height: 7px; margin-top: -4px; content: ''; background: url(../img/common/ico_arrow_sp.png) 100% 100% no-repeat; background-size: auto 100%; }

.btn_fold.is_fold:after { background-position: 0 0; }

.box_wrap .box { position: relative; border: 1px solid #e1e2e4; }

.box_wrap .box .category { display: inline-block; width: 24px; height: 24px; color: #ffffff; text-align: center; line-height: 24px; vertical-align: top; -webkit-border-top-left-radius: 50%; -webkit-border-top-right-radius: 50%; -webkit-border-bottom-left-radius: 50%; -webkit-border-bottom-right-radius: 50%; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-left-radius: 50%; border-bottom-right-radius: 50%; }

.box_wrap .box .info { background-color: #f7f7f7; }

table th, table td { border: 1px solid #cfcfcf; }

table tr.empty td { text-align: center; font-size: 14px; padding: 50px 0; }

.ipbx_item { overflow: hidden; position: relative; margin-bottom: 10px; }

.ipbx_item input::-webkit-input-placeholder, .ipbx_item textarea::-webkit-input-placeholder { color: #878787; font-weight: 300; }

.ipbx_item input:-ms-input-placeholder, .ipbx_item textarea:-ms-input-placeholder { color: #878787; font-weight: 300; }

.ipbx_item input::-ms-input-placeholder, .ipbx_item textarea::-ms-input-placeholder { color: #878787; font-weight: 300; }

.ipbx_item input::placeholder, .ipbx_item textarea::placeholder { color: #878787; font-weight: 300; }

.ipbx_item.ipbx_file input[type="file"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

.ipbx_item.ipbx_file label { display: inline-block; padding: 8px 14px 8px 40px; font-size: 12px; line-height: 24px; color: #ffffff; background: #545454 url(../img/common/ico_file.png) 14px 50% no-repeat; background-size: 16px 17px; cursor: pointer; }

.ipbx_item.ipbx_file .upload_name { min-width: 100px; display: inline-block; padding: 5px 7px; background-color: #ffffff; cursor: pointer; }

.ipbx_item .datepicker { background: #fff url(../img/common/ico_calendar.png) 95% 50% no-repeat; background-size: 20px 18px; cursor: pointer; }

.ipbx_item textarea { width: 100%; min-height: 100px; }

.ipbx_item .u_ipbx { position: relative; overflow: hidden; }

.ipbx_item .u_ipbx .int { position: relative; width: 100%; height: 40px; padding: 11px 8px 11px 8px; font-size: 14px; line-height: 14px; color: #212121; border: 1px solid #cfcfcf; }

.ipbx_item .u_ipbx.w420 { width: 100%; margin-right: 10px; padding-right: 40%; }

.ipbx_item .u_ipbx.w420 + span { position: absolute; top: 0; right: 0; width: calc( 40% - 10px); }

.ipbx_item .u_ipbx.w100 .int { width: 100% !important; min-width: 100% !important; }

.ipbx_item [class^="txt_"] { font-size: 13px; }

.ipbx_item .txt_warning { color: #eb3671; }

.ipbx_item .txt_accept { color: #1d4695; }

.ipbx_item .u_radio { overflow: hidden; font-size: 0; height: 40px; }

.ipbx_item .u_radio input[type="radio"] + label { position: absolute; top: 0; display: block; width: 50%; height: 40px; line-height: 40px; font-size: 14px; cursor: pointer; text-align: center; border: 1px solid #cfcfcf; color: #878787; }

.ipbx_item .u_radio input[type="radio"] + label:first-child { left: 0; }

.ipbx_item .u_radio input[type="radio"] + label:last-child { left: 50%; margin-right: 0 !important; }

.ipbx_item .u_radio input[type="radio"]:checked + label { background-color: #707070; color: #ffffff; font-weight: 600; }

.ipbx_item .u_selbox { position: relative; overflow: hidden; }

.ipbx_item .u_selbox .sel { position: relative; width: 100%; border: 1px solid #cfcfcf; font-size: 14px; line-height: 14px; color: #212121; height: 40px; padding: 11px 15px 11px 15px; background-color: #ffffff; cursor: pointer; }

.agree_wrap .msg { text-align: center; }

.agree_form { background-color: #f7f7f7; border: 1px solid #cccccc; }

.agree_form + .agree_form { margin-top: -1px; }

.agree_form .cont_wrap .inner .cont { font-size: 14px; line-height: 22px; }

.agree_form.type1 p { margin-bottom: 10px; font-size: 14px; }

.agree_form.type1 .cont_wrap { background-color: #f7f7f7; padding: 22px 30px; }

.agree_form.type2 { padding: 0; }

.agree_form.type2 .check_wrap { overflow: hidden; padding: 9px 20px; }

.agree_form.type2 .check_wrap label span { color: #2d5ba8; line-height: 24px; }

.agree_form.type2 .cont_wrap { max-height: 130px; padding: 10px 20px; overflow-y: auto; border-top: 1px solid #cfcfcf; background-color: #ffffff; }

.agree_form.type2 .cont_wrap .inner { overflow: hidden; }

.agree_form.type2 .cont_wrap .inner + .agree_form.type2 .cont_wrap .inner { width: 50%; float: left; }

.agree_form.type2 .cont_wrap .inner .cont { width: 100%; margin: 0; }

.agree_form.type2 .msg { color: #212121; text-align: center; }

.agree_form.type3 { padding: 0; }

.agree_form.type3 .check_wrap { overflow: hidden; padding: 9px 20px; }

.agree_form.type3 .check_wrap label span { color: #2d5ba8; line-height: 24px; }

.agree_form.type3 .cont_wrap { overflow: hidden; padding: 20px; border-top: 1px solid #cfcfcf; background-color: #f7f7f7; }

.agree_form.type3 .cont_wrap .inner { border: 1px solid #cfcfcf; background-color: #ffffff; }

.agree_form.type3 .cont_wrap .inner:first-child { margin-bottom: 15px; }

.agree_form.type3 .cont_wrap .inner .cont { overflow-y: auto; max-height: 130px; width: 100%; margin: 0; }

.agree_form.type3 .cont_wrap .inner .cont + .check_wrap { border-top: 1px solid #cfcfcf; }

.agree_form.type3 .msg { color: #212121; text-align: center; }

input[type="checkbox"] + label { display: inline-block; font-size: 14px; line-height: 36px; cursor: pointer; }

input[type="checkbox"] + label span { font-weight: 300; font-size: 14px; }

input[type="checkbox"] + label:before { display: inline-block; width: 20px; height: 20px; margin-right: 10px; margin-bottom: -6px; border: 2px solid #ccc; content: ''; background-color: #ffffff; }

input[type="checkbox"]:checked + label { position: relative; }

input[type="checkbox"]:checked + label:before { background-color: #4d5eab; }

input[type="checkbox"]:checked + label:after { position: absolute; top: 10px; left: 8px; width: 5px; height: 10px; border: solid white; border-width: 0 3px 3px 0; transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); content: ''; }

.u_tab { overflow: hidden; width: 100%; margin: 25px 0; border: 1px solid #2d5ba8; border-bottom-width: 3px; }

.u_tab li { float: left; text-align: center; }

.u_tab li a { display: block; height: 32px; line-height: 30px; font-size: 12px; border-left: 1px solid #2d5ba8; word-wrap: break-word; word-break: keep-all; }

.u_tab li:first-child a { border-left: 0; }

.u_tab li.on a { background-color: #2d5ba8; color: #ffffff; }

.u_tab.tab3 li { width: 33.333%; }

.u_tab.tab4 li { width: 25%; }

.u_tab.tab5 li { width: 20%; }

.u_step { overflow: hidden; margin: 20px 0; border-bottom: 5px solid #2d5ba8; }

.u_step .u_tab { margin: 0 auto; margin-bottom: -2px; border: none; }

.u_step .u_tab li { display: table; position: relative; text-align: center; margin-right: -1px; }

.u_step .u_tab li span, .u_step .u_tab li a { display: table-cell; height: 40px; vertical-align: middle; font-size: 14px; line-height: 16px; color: #2d5ba8; word-wrap: break-word; word-break: keep-all; border: 1px solid #2d5ba8; padding: 0 10px; }

.u_step .u_tab li.on { position: relative; }

.u_step .u_tab li.on span, .u_step .u_tab li.on a { color: #ffffff; font-weight: 500; background-color: #2d5ba8; }

.u_step .u_tab li.on:after { position: absolute; top: 0px; right: -10px; display: block; content: ''; width: 0; height: 0; border: 0 solid transparent; border-bottom-width: 19px; border-top-width: 19px; border-left: 11px solid #2d5ba8; z-index: 2; }

.u_step .u_tab li:last-child { margin-right: 0; }

.pagination { margin: 20px 0; }

.pagination .inner { text-align: center; }

.pagination a { color: #878787; font-size: 12px; padding: 2px; }

.pagination .page { position: relative; margin-right: 4px; padding: 2px 3px; }

.pagination .page:after { position: absolute; top: 1px; right: -5px; content: '|'; color: #878787; }

.pagination .page.last:after { display: none; }

.pagination .page.on { color: #2d5ba8; font-weight: 600; }

.layer_popup { display: none; overflow: auto; position: fixed; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; content: ''; z-index: 110; font-size: 0; text-align: center; }

.layer_popup:before { position: fixed; top: 0; left: 0; width: 100%; height: 100%; content: ''; filter: alpha(opacity=70); opacity: .7; background-color: #212121; }

.layer_popup:after { display: inline-block; overflow: hidden; height: 100%; vertical-align: middle; content: ''; }

.layer_popup .layer_inner { position: relative; display: inline-block; width: 300px; margin: 0 10px; background: #ffffff; vertical-align: middle; }

.layer_popup .pop_head { height: 50px; background-color: #2d5ba8; color: #ffffff; text-align: center; }

.layer_popup .pop_head h1 { font-size: 22px; line-height: 50px; }

.layer_popup .pop_body .msg { padding: 10px 20px; text-align: center; font-size: 14px; line-height: 22px; border-bottom: 1px solid #cfcfcf; }

.layer_popup .pop_body .cont { padding: 20px; }

.layer_popup .pop_body .cont textarea { width: 100%; height: 200px; font-size: 14px; line-height: 24px; }

.layer_popup .btn_close { position: absolute; top: 8px; right: 20px; width: 34px; height: 34px; background: url(../img/common/btn_close.png) 50% 50% no-repeat; background-size: 14px 14px; content: ''; font-size: 0; }

@media all and (min-width: 1200px) { .onlymobile { display: none; }
  .onlypc { display: block; }
  .mobilebr { display: none; }
  #header .inner { padding: 0; max-width: 1200px; border-bottom: none; text-align: left; }
  #header .btn_m_menu { display: none; }
  #header .logo a { position: absolute; top: 25px; left: 0; width: 171px; height: 42px; }
  #header #gnb { display: inline-block; text-align: left; }
  #header .util { display: block; }
  #footer { background-color: #474747; }
  #footer .inner .ft_terms { overflow: hidden; padding: 0; text-align: center; border-top: 1px solid #bebebe; border-bottom: 1px solid #7f8082; background-color: #545454; }
  #footer .inner .ft_terms ul { max-width: 1200px; margin: 0 auto; }
  #footer .inner .ft_terms li { display: inline-block; margin: 0 40px; font-size: 15px; line-height: 60px; color: #b3b3b3; }
  #footer .inner .logo { width: 79px; height: 56px; background: url(../img/common/logo_footer.png) 0 0 no-repeat; background-size: 100% auto; }
  #footer .inner .ft_btm { overflow: hidden; max-width: 1200px; margin: 0 auto; padding: 35px 0 55px; }
  #footer .inner .ft_btm .ft_policy { float: left; width: 744px; }
  #footer .inner .ft_btm .ft_contact { position: relative; float: left; width: 456px; padding-left: 100px; color: #b3b3b3; background: url(../img/common/ico_call.png) 34px 50% no-repeat; background-size: 43px 44px; }
  #footer .inner .ft_btm .ft_contact:before { position: absolute; top: -30px; left: 0; width: 1px; height: 100px; background-color: #626262; content: ''; }
  #footer .inner .ft_btm .ft_contact .tit { font-size: 18px; line-height: 12px; }
  #footer .inner .ft_btm .ft_contact .phone { display: block; font-size: 24px; color: #ffffff; line-height: 28px; }
  #footer .inner .ft_btm .ft_contact .hour { position: absolute; right: 10px; bottom: 2px; font-size: 15px; color: #b3b3b3; line-height: 20px; }
  #footer .inner .ft_btm .ft_contact .hour .category { display: inline-block; width: 70px; }
  #footer .inner .ft_btm .ft_info { margin-top: 0; }
  #footer .inner .ft_btm .ft_info .ft_address { margin-bottom: 8px; font-size: 14px; line-height: 32px; color: #b3b3b3; }
  #footer .inner .ft_btm .ft_info .ft_address .info { margin-right: 30px; }
  #footer .inner .ft_btm .ft_info .ft_address .tit { margin-right: 8px; }
  #footer .inner .ft_btm .ft_info .ft_address .tit:after { margin-left: 10px; }
  #footer .inner .ft_btm .ft_info .ft_address .btn_busi_info { font-size: 14px; padding: 3px 22px; background-color: transparent; border: 2px solid #6d8fe0; color: #6d8fe0; }
  #footer .inner .ft_btm .ft_info .copyright { color: #707070; font-size: 14px; }
  #m_layer_menu { display: none; }
  .layer_popup .layer_inner { width: 650px; margin: 0; }
  .layer_popup .pop_head { height: 50px; }
  .layer_popup .pop_head h1 { font-size: 22px; line-height: 50px; }
  .layer_popup .pop_body .msg { padding: 20px; font-size: 16px; line-height: 24px; }
  .layer_popup .pop_body .cont { padding: 30px; }
  .layer_popup .pop_body .cont textarea { height: 400px; }
  .form_field { max-width: 100%; margin: 50px auto; padding: 0; }
  .form_field table { width: 100%; }
  .form_field table th, .form_field table td { font-size: 16px; text-align: left; }
  .form_field table th { width: 199px; padding: 12px 20px; }
  .form_field table td { padding: 12px 20px; }
  .form_field table th { background-color: #f7f7f7; font-weight: 400; }
  .form_field table .tb-r { text-align: right !important; }
  .form_field table .tb-c { text-align: center !important; }
  .form_field .sel_list { overflow: hidden; }
  .form_field .sel_list li { float: left; margin-right: 50px; }
  .form_field .sel_list li:last-child { margin-right: 0; }
  .form_field .sel_list li img { display: block; }
  .form_field .sel_list input[type="radio"] { display: inline-block; }
  .form_field .sel_list input[type="radio"] + label { display: inline-block; font-size: 16px; padding-left: 3px; }
  .form_field .ipbx_item { margin-bottom: 0; }
  .form_field .ipbx_item .u_selbox .sel { min-width: 150px; width: auto; padding: 11px 35px 11px 15px; font-size: 16px; line-height: 16px; background: #ffffff url(../img/page/solution/ico_arrow.png) 90% 50% no-repeat; background-size: 13px 9px; }
  .form_field .ipbx_item .u_ipbx .int { min-width: 240px; width: auto; }
  .form_field .ipbx_item.ipbx_file input[type="file"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }
  .form_field .ipbx_item.ipbx_file label { display: inline-block; padding: 8px 14px 8px 40px; font-size: 14px; line-height: 24px; color: #ffffff; background: #545454 url(../img/common/ico_file.png) 14px 50% no-repeat; background-size: 16px 17px; cursor: pointer; }
  .form_field .ipbx_item.ipbx_file .upload_name { min-width: 300px; display: inline-block; padding: 5px 7px; background-color: #ffffff; cursor: pointer; }
  .form_field p { font-size: 16px; line-height: 26px; }
  .form_field .msg { font-size: 14px; line-height: 22px; }
  .form_field .ipbx_item + p { margin-top: 10px; font-size: 14px; }
  .form_field [class^="tbl-"] + .form_field [class^="tbl-"] { margin-top: 20px; }
  .agree_wrap .msg { margin: 30px 0; }
  .agree_form.type1 { padding: 22px 30px; }
  .agree_form.type1 p { margin-bottom: 10px; }
  .agree_form.type2 .check_wrap label span { line-height: 24px; }
  .agree_form.type2 .cont_wrap { padding: 20px; }
  .agree_form.type3 .cont_wrap .inner { float: left; width: calc( 50% - 20px); }
  .agree_form.type3 .cont_wrap .inner:first-child { margin-bottom: 0; margin-right: 20px; }
  .agree_form.type3 .cont_wrap .inner:last-child { margin-left: 20px; }
  .agree_form.type3 .cont_wrap .inner .cont { padding: 10px; }
  .btn_wrap { margin: 20px auto; }
  .btn_wrap a, .btn_wrap button { font-size: 16px; line-height: 50px; }
  .btn_wrap .btn_l { width: 500px; }
  .btn_wrap .btn_m { width: 240px; }
  .btn_wrap .btn_sm { width: 180px; }
  .btn_fold { margin-top: 0; }
  .ipbx_item { margin-bottom: 30px; }
  .ipbx_item .u_ipbx .int { padding: 13px 15px 12px 15px; }
  .ipbx_item .u_ipbx.w420 { width: 420px; margin-right: 20px; padding-right: 0; }
  .ipbx_item .u_ipbx.w420 + span { width: 200px; }
  .ipbx_item .u_radio input[type="radio"] + label { width: 95px; height: 40px; line-height: 40px; margin-right: 10px; }
  table tr.empty td { font-size: 16px; padding: 80px 0; }
  #container { padding-top: 90px; }
  .container { max-width: 1200px; margin: 0 auto; }
  .top_select_wrap { padding: 30px 0; }
  .u_step { margin: 50px 0; padding: 0; }
  .u_step .u_tab { max-width: 778px; }
  .u_step .u_tab li span, .u_step .u_tab li a { font-size: 22px; line-height: 50px; }
  .u_step .u_tab li:before { height: 50px; }
  .u_step .u_tab li.on:after { right: -20px; border-bottom-width: 25px; border-top-width: 26px; border-left: 22px solid #2d5ba8; }
  .u_step .u_tab li:first-child:before { border-left: none; }
  .pagination { margin: 30px 0; }
  .pagination a { font-size: 14px; padding: 2px 4px; }
  .pagination .page { margin-right: 4px; padding: 2px 7px; }
  .pagination .page:after { top: 1px; right: -5px; }
  .banner { height: 200px; background: url(../img/page/solution/banner.jpg) 50% 50% no-repeat; background-size: cover; }
  .banner .inner { padding: 20px; }
  .banner h1 { position: relative; font-size: 40px; line-height: 40px; margin-top: 35px; }
  .banner h1:after { position: absolute; top: -15px; left: 50%; width: 40px; height: 5px; margin-left: -20px; background-color: #2d5ba8; content: ''; }
  .banner p { font-size: 16px; margin-top: 6px; }
  .breadcrumb { padding: 0; }
  .breadcrumb ul { max-width: 1200px; margin: 0 auto; }
  .breadcrumb li { margin-right: 10px; font-size: 14px; line-height: 40px; height: 40px; }
  .breadcrumb li:after { margin-left: 10px; }
  .box_wrap .box:hover { webkit-box-shadow: 0 0 3px 3px rgba(177, 177, 177, 0.2); -webkit-box-shadow: 0 0 3px 3px rgba(177, 177, 177, 0.2); box-shadow: 0 0 3px 3px rgba(177, 177, 177, 0.2); }
  .box_wrap .box .category { width: 45px; height: 22px; font-size: 14px; line-height: 22px; -webkit-border-top-left-radius: 0; -webkit-border-top-right-radius: 0; -webkit-border-bottom-left-radius: 0; -webkit-border-bottom-right-radius: 0; border-top-left-radius: 0; border-top-right-radius: 0; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
  .tab_head { position: relative; }
  .tab_head:before { position: absolute; left: 50%; bottom: 0; width: 100vw; margin-left: -50vw; height: 2px; background-color: #e1e1e1; content: ''; z-index: -1; }
  .tab_head .u_tab { margin: 50px 0; border: none; }
  .tab_head .u_tab li a { height: 50px; line-height: 46px; font-size: 22px; background-color: #e1e1e1; color: #212121; border: 2px solid #e1e1e1; margin: 0 1px; }
  .tab_head .u_tab li:first-child a { border-left: 2px solid #e1e1e1; }
  .tab_head .u_tab li.on a, .tab_head .u_tab li:hover a { background-color: #ffffff; color: #2d5ba8; border-bottom-color: #ffffff; } }
