#acc-nav { position: relative; width: 100%; z-index: 201; }

#acc-nav > a { position: absolute; top: -4rem; left: 0; right: 0; height: 4rem; padding: 0 20px 0 26px; border-bottom: 1px solid #6d6d6d; font-size: 2rem; line-height: 4rem; background-color: #474747; color: #ffffff; text-align: center; }

#acc-nav > a:active, #acc-nav > a:focus { overflow: hidden; top: 0; text-decoration: none; }

#header { position: fixed; top: 0; right: 0; left: 0; z-index: 99; width: 100%; margin: 0 auto; background-color: #ffffff; }

#header .inner { position: relative; width: 100%; margin: 0 auto; padding: 0 20px; text-align: center; max-width: 100%; min-width: 320px; overflow: hidden; border-bottom: 1px solid #000; }

#header .logo { width: 107px; height: 26px; margin: 12px 0; background: url(../img/common/logo.png) 0 0 no-repeat; background-size: auto 100%; }

#header .btn_m_menu { position: absolute; top: 18px; right: 20px; display: block; width: 16px; height: 14px; background: url(../img/common/btn_m_menu.png) 0 0 no-repeat; background-size: 100% auto; }

#header #gnb { display: none; }

#header .util { display: none; position: absolute; right: 0; }

#m_layer_menu { display: none; position: fixed; top: 0; left: 0; z-index: 999999; width: 100%; height: 100%; overflow: hidden; }

#m_layer_menu .layer_bg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000; opacity: 0; -webkit-transition: opacity .3s; transition: opacity .3s; content: ''; }

#m_layer_menu .layer_wrap { position: absolute; top: -100px; left: 0; width: 100%; height: 100%; background-color: #345299; overflow: auto; -webkit-transition: top .3s; transition: top .3s; }

#m_layer_menu .logo { width: 107px; height: 26px; margin: 12px 0; background: url(../img/common/logo_white.png) 0 0 no-repeat; background-size: auto 100%; }

#m_layer_menu .util { text-align: right; padding: 0 20px; background-color: #ffffff; }

#m_layer_menu .util > a { position: relative; display: inline-block; height: 60px; margin-left: 25px; padding-left: 33px; line-height: 60px; font-size: 14px; color: #4464af; font-weight: 500; }

#m_layer_menu .util > a:before { position: absolute; top: 19px; left: 0; width: 22px; height: 22px; margin-bottom: -5px; content: ''; }

#m_layer_menu .util > a.btn_login:before { background: url(../img/common/ico_login.png) 0 0 no-repeat; background-size: 100% auto; }

#m_layer_menu .util > a.btn_join:before { background: url(../img/common/ico_join.png) 0 0 no-repeat; background-size: 100% auto; }

#m_layer_menu .util > a:after { position: absolute; top: 23px; left: -10px; width: 1px; height: 14px; margin-bottom: -2px; background-color: #4464af; content: ''; }

#m_layer_menu .util > a:first-child { margin-left: 0; }

#m_layer_menu .util > a:first-child:after { display: none; }

#m_layer_menu .btn_close_m_menu { position: absolute; top: 18px; right: 20px; width: 14px; height: 14px; background: url(../img/common/btn_close.png) 0 0 no-repeat; background-size: 100% auto; content: ''; font-size: 0; }

#m_layer_menu #m_gnb { background-color: #4464af; overflow-y: scroll; }

#m_layer_menu #m_gnb button, #m_layer_menu #m_gnb a { cursor: pointer; }

#m_layer_menu #m_gnb > ul > li { line-height: 50px; }

#m_layer_menu #m_gnb > ul > li > button, #m_layer_menu #m_gnb > ul > li > a { position: relative; width: 100%; height: 50px; line-height: 50px; padding-left: 45px; font-size: 15px; text-align: left; color: #ffffff; border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

#m_layer_menu #m_gnb > ul > li > button:before, #m_layer_menu #m_gnb > ul > li > a:before { position: absolute; top: 50%; left: 20px; width: 12px; height: 5px; margin-top: -2px; background-color: #ffffff; opacity: 0.5; content: ''; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }

#m_layer_menu #m_gnb > ul > li:last-child > button, #m_layer_menu #m_gnb > ul > li:last-child > a { border-bottom: none; }

#m_layer_menu #m_gnb .depth2 { display: none; background-color: #345299; }

#m_layer_menu #m_gnb .depth2 > li { line-height: 33px; }

#m_layer_menu #m_gnb .depth2 > li > button, #m_layer_menu #m_gnb .depth2 > li > a { position: relative; height: 33px; padding-left: 50px; font-size: 12px; line-height: 33px; color: #ffffff; }

#m_layer_menu #m_gnb .depth2 > li > button:before, #m_layer_menu #m_gnb .depth2 > li > a:before { display: inline-block; margin-right: 7px; content: '-'; }

#m_layer_menu #m_gnb .depth3 { display: none; background-color: #274282; padding: 5px 0; }

#m_layer_menu #m_gnb .depth3 > li { line-height: 21px; }

#m_layer_menu #m_gnb .depth3 > li > a { display: block; position: relative; height: 21px; padding-left: 57px; font-size: 9px; line-height: 21px; color: #ffffff; }

#m_layer_menu #m_gnb .depth3 > li > a:before { display: inline-block; width: 3px; height: 3px; margin-top: -1px; margin-right: 10px; background-color: #ffffff; content: ''; -webkit-border-top-left-radius: 50%; -webkit-border-top-right-radius: 50%; -webkit-border-bottom-left-radius: 50%; -webkit-border-bottom-right-radius: 50%; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-left-radius: 50%; border-bottom-right-radius: 50%; }

#m_layer_menu.menuOpen { display: block; }

#m_layer_menu.menuOpen .layer_bg { opacity: .7; }

#m_layer_menu.menuOpen .layer_wrap { top: 0; }
