@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/NotoSans-Light.eot);
  src: local("Noto Sans Light"), local("NotoSans-Light"), local("NotoSansKR Light"), local("Noto Sans KR Light"), local("NotoSans Korean Light"), local("Noto Sans Korean Light"), url(../fonts/NotoSans-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSans-Light.woff) format("woff"), url(../fonts/NotoSans-Light.woff2) format("woff2"), url(../fonts/NotoSans-Light.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NotoSans-Regular.eot);
  src: local("Noto Sans Regular"), local("NotoSans-Regular"), local("NotoSansKR Regular"), local("Noto Sans KR Regular"), local("NotoSans Korean Regular"), local("Noto Sans Korean Regular"), url(../fonts/NotoSans-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSans-Regular.woff) format("woff"), url(../fonts/NotoSans-Regular.woff2) format("woff2"), url(../fonts/NotoSans-Regular.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans Medium"), local("NotoSans-Medium"), local("NotoSansKR Medium"), url(../fonts/NotoSans-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSans-Medium.woff) format("woff"), url(../fonts/NotoSans-Medium.woff2) format("woff2"), url(../fonts/NotoSans-Medium.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), local("NotoSansKR Bold"), url(../fonts/NotoSans-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSans-Bold.woff) format("woff"), url(../fonts/NotoSans-Bold.woff2) format("woff2"), url(../fonts/NotoSans-Bold.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: local("Noto Sans Black"), local("NotoSans-Black"), local("NotoSansKR Black"), url(../fonts/NotoSans-Black.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSans-Black.woff) format("woff"), url(../fonts/NotoSans-Black.woff2) format("woff2"), url(../fonts/NotoSans-Black.otf) format("opentype");
}

.title_wrap {
  position: relative;
  text-align: center;
  padding-top: 30px;
  border-top: 1px solid #cfcfcf;
}

.title_wrap:after {
  position: absolute;
  top: 0;
  left: 50%;
  width: 200px;
  height: 5px;
  margin-left: -100px;
  background-color: #cfcfcf;
  content: '';
}

.title_wrap h2 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
}

input, select {
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-box-shadow: none;
}

input[type=radio], input[type=checkbox] {
  border: 0;
  opacity: 0;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.ipbx_item .ipbx_btn {
  padding-right: 100px;
}

.ipbx_item .u_ipbx {
  display: block;
}

.ipbx_item .btn_chk {
  position: absolute;
  top: 0;
  right: 0;
  width: 90px;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  background-color: #7b9ad8;
}

.ipbx_item.ipbx_pw .u_ipbx {
  margin-top: 10px;
}

.ipbx_item.ipbx_pw .u_ipbx:first-child {
  margin-top: 0;
}

.ipbx_item.ipbx_pw .int {
  padding: 11px 30px 9px 8px;
}

.ipbx_item.ipbx_pw .int.pw {
  background: url(../img/page/member/ico_pwd.png) 97% 50% no-repeat;
  background-size: 19px 23px;
}

.ipbx_item.ipbx_pw .int.pw.success {
  background: url(../img/page/member/ico_pwd_suc.png) 97% 50% no-repeat;
  background-size: 19px 23px;
}

.ipbx_item.ipbx_pw .int.re_pw {
  background: url(../img/page/member/ico_repwd.png) 97% 50% no-repeat;
  background-size: 19px 23px;
}

.ipbx_item.ipbx_pw .int.re_pw.success {
  background: url(../img/page/member/ico_repwd_suc.png) 97% 50% no-repeat;
  background-size: 19px 23px;
}

.ipbx_item.ipbx_phone > span {
  float: left;
  width: calc( 33.3% - 7px);
  margin-right: 10px;
  overflow: visible;
}

.ipbx_item.ipbx_phone > span:last-child {
  margin-right: 0;
}

.ipbx_item.ipbx_phone > span:last-child:after {
  display: none;
}

.ipbx_item.ipbx_phone > span:after {
  position: absolute;
  top: 0;
  right: -6px;
  display: block;
  content: '-';
  line-height: 40px;
}

.ipbx_item.ipbx_birthdate .u_radio {
  position: absolute;
  top: 0;
  right: 0;
  width: 90px;
}

.ipbx_item.ipbx_delete {
  overflow: hidden;
  padding: 15px 30px;
  font-size: 14px;
  color: #545454;
  background-color: #d7e7ee;
  border: 1px solid #6f99ab;
}

.ipbx_item.ipbx_delete span {
  display: inline-block;
}

.ipbx_item.ipbx_delete button {
  float: right;
  display: inline-block;
  font-size: 14px;
  width: 70px;
  height: 30px;
  color: #ffffff;
  background-color: #a2c9da;
  border: 1px solid #6f99ab;
}

.form_field .ipbx_item {
  margin-bottom: 10px;
}

.form_field .ipbx_item .u_ipbx .int {
  min-width: auto;
  width: 100%;
}

.form_field .ipbx_item .u_selbox .sel {
  min-width: auto;
  width: 100%;
}

.wrap_edit .u_step .u_tab li.on:after {
  display: none;
}

.field_edit .msg {
  font-size: 14px;
  color: #345299;
  text-align: left;
  margin: 15px 0;
}

.field_edit .btn_wrap {
  margin: 20px 0;
}

.field_edit .btn_wrap button {
  float: left;
  width: calc( 50% - 5px);
}

.field_edit .btn_wrap .btn_gray {
  margin-right: 10px;
}

.field_login .ipbx_id {
  padding-right: 0;
}

.field_login .ipbx_id .int {
  padding: 10px 30px 10px 45px;
  background: url(../img/page/member/ico_id.png) 18px 50% no-repeat;
  background-size: 16px 20px;
}

.field_login .ipbx_pw .int {
  padding: 10px 30px 10px 45px;
  background: url(../img/page/member/ico_pwd_bl.png) 18px 50% no-repeat;
  background-size: 17px 20px;
}

.field_login .sub_link {
  margin-top: 30px;
  overflow: hidden;
  text-align: center;
}

.field_login .sub_link > a {
  position: relative;
  display: inline;
  padding: 6px 6px 6px 22px;
  margin: 0 10px;
  font-size: 12px;
  line-height: 36px;
  color: #212121;
}

.field_login .sub_link > a:after {
  position: absolute;
  top: 7px;
  right: -10px;
  width: 2px;
  height: 18px;
  background-color: #7b9ad8;
  content: '';
}

.field_login .sub_link > a:last-child:after {
  display: none;
}

.field_login .sub_link .btn_join {
  background: url(../img/page/member/ico_join.png) 0 50% no-repeat;
  background-size: 16px 21px;
}

.field_login .sub_link .btn_find_id {
  background: url(../img/page/member/ico_id.png) 0 50% no-repeat;
  background-size: 16px 20px;
}

.field_login .sub_link .btn_find_pw {
  background: url(../img/page/member/ico_pwd_bl.png) 0 50% no-repeat;
  background-size: 17px 20px;
}

.top_select_wrap .tit {
  font-size: 16px;
  margin-right: 10px;
}

.top_select_wrap .btn_wrap span {
  display: inline-block;
  margin-right: 3px;
  padding: 1px 3px;
  font-size: 13px;
  background-color: #d7e7ee;
  border: 1px solid #cfcfcf;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.top_select_wrap .choose_date {
  overflow: hidden;
  display: block;
  margin-top: 10px;
}

.top_select_wrap .choose_date > span {
  display: inline-block;
  vertical-align: top;
}

.top_select_wrap .choose_date .tild {
  line-height: 40px;
  font-weight: 500;
  font-size: 16px;
  margin: 0 4px;
}

.top_select_wrap .int input[type="text"] {
  border: 1px solid #2d5ba8;
}

.top_select_wrap .ipbx_item {
  width: 120px;
}

.top_select_wrap .sel {
  background: #ffffff url(../img/common/ico_sel_arrow.png) 90% 50% no-repeat;
  background-size: 13px 8px;
}

.top_select_wrap button {
  color: #ffffff;
  padding: 10px 16px;
  font-size: 14px;
  margin-left: 10px;
}

.top_util_wrap {
  padding: 10px 0;
  margin-bottom: 10px;
  background-color: #f7f7f7;
  text-align: center;
  border-bottom: 2px solid #dbdde3;
}

.top_util_wrap .step_wrap {
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: middle;
  margin-right: 10px;
}

.top_util_wrap .step_wrap li {
  position: relative;
  display: inline-block;
  margin-right: 4px;
  padding: 5px 8px;
  font-size: 13px;
  background-color: #ebebeb;
  border: 1px solid #bebebe;
  color: #545454;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.top_util_wrap .step_wrap li .tit {
  display: block;
}

.top_util_wrap .step_wrap li .num {
  font-size: 16px;
}

.top_util_wrap .point {
  display: inline-block;
  padding: 7px 0 8px 46px;
  vertical-align: top;
  color: #2d5ba8;
  font-size: 18px;
  font-weight: 600;
  margin: 10px 9px 0 0;
  background: url(../img/page/member/ico_point.png) 0 50% no-repeat;
  background-size: 40px;
}

.top_util_wrap .btn_shop {
  display: inline-block;
  vertical-align: middle;
  padding: 20px 14px 6px 14px;
  background: #d7e7ee url(../img/page/member/ico_cart.png) 50% 4px no-repeat;
  background-size: 16px;
  color: #545454;
  border: 1px solid #ffffff;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.field_success {
  max-width: 100%;
}

.field_success .tbl-order-history {
  overflow-x: auto;
}

.field_success .tbl-order-history th {
  background-color: #7c848d;
  color: #ffffff;
}

.field_success .tbl-order-history td {
  color: #545454;
  font-size: 14px;
}

.field_success .tbl-order-history td:last-child {
  text-align: center;
}

.field_success .tbl-order-history .btn_more {
  display: inline-block;
  width: 80px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  color: #545454;
  background-color: #b7d5e2;
  border: 1px solid #cfcfcf;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.field_success .tbl-order-history .btn_email {
  display: inline-block;
  width: 80px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  color: #545454;
  background-color: #d7e7ee;
  border: 1px solid #cfcfcf;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.field_success .tbl-order-history .point {
  font-weight: 600;
}

@media all and (min-width: 1200px) {
  .title_wrap {
    padding-top: 35px;
  }
  .title_wrap h2 {
    font-size: 30px;
    line-height: 30px;
  }
  .ipbx_item .ipbx_btn {
    padding-right: 110px;
  }
  .ipbx_item.ipbx_pw .u_ipbx {
    margin-top: 30px;
  }
  .ipbx_item.ipbx_pw .int {
    padding: 13px 15px 12px 15px;
  }
  .ipbx_item.ipbx_phone > span {
    width: 200px;
    margin-right: 20px;
  }
  .ipbx_item.ipbx_phone > span:after {
    right: -12px;
  }
  .ipbx_item.ipbx_delete {
    padding: 15px 50px 15px 30px;
    line-height: 30px;
  }
  .form_field {
    max-width: 640px;
    padding: 0;
  }
  .form_field hr {
    height: 3px;
    margin: 40px 0;
  }
  .btn_wrap {
    margin: 50px 0;
  }
  .btn_wrap button {
    font-size: 20px;
  }
  .field_edit .msg {
    text-align: center;
    margin: 15px 0 15px 0;
  }
  .field_edit .btn_wrap button {
    width: calc( 50% - 10px);
  }
  .field_edit .btn_wrap .btn_gray {
    margin-right: 20px;
  }
  .field_edit .agree_form {
    padding: 22px 30px;
  }
  .field_login .ipbx_id {
    padding-right: 0;
  }
  .field_login .ipbx_id .int {
    padding: 10px 30px 10px 55px;
    background: url(../img/page/member/ico_id.png) 28px 50% no-repeat;
    background-size: 16px 20px;
  }
  .field_login .ipbx_pw .int {
    padding: 10px 30px 10px 55px;
    background: url(../img/page/member/ico_pwd_bl.png) 28px 50% no-repeat;
    background-size: 17px 20px;
  }
  .field_login .sub_link {
    margin-top: 30px;
  }
  .field_login .sub_link > a {
    padding: 10px 10px 10px 24px;
    margin: 0 16px;
    font-size: 16px;
    line-height: 36px;
  }
  .field_login .sub_link > a:after {
    top: 13px;
    right: -10px;
    height: 20px;
  }
  .top_select_wrap {
    vertical-align: middle;
  }
  .top_select_wrap .tit {
    font-size: 18px;
    margin-right: 30px;
  }
  .top_select_wrap .btn_wrap span {
    margin-right: 5px;
    padding: 3px 6px;
    font-size: 15px;
  }
  .top_select_wrap .choose_date {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
  }
  .top_select_wrap .choose_date > span {
    vertical-align: middle;
    margin-bottom: 0;
  }
  .top_select_wrap .choose_date .tild {
    margin: 0 10px;
  }
  .top_select_wrap .ipbx_item {
    width: 180px;
  }
  .top_select_wrap button {
    padding: 7px 20px;
    font-size: 16px;
    vertical-align: middle;
  }
  .top_util_wrap {
    padding: 20px 0;
    margin-bottom: 20px;
  }
  .top_util_wrap > span {
    position: relative;
  }
  .top_util_wrap > span:after {
    position: absolute;
    top: 0;
    right: -40px;
    content: '';
    background-color: #bebebe;
    width: 2px;
    height: 100%;
  }
  .top_util_wrap .step_wrap {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .top_util_wrap .step_wrap li {
    width: 100px;
    padding: 11px 8px;
    margin-right: 30px;
    font-size: 14px;
  }
  .top_util_wrap .step_wrap li .num {
    font-size: 26px;
    margin-right: 2px;
    line-height: 1.4;
  }
  .top_util_wrap .step_wrap li:after {
    position: absolute;
    top: 50%;
    right: -2px;
    content: '>';
    color: #545454;
    font-size: 20px;
    margin-top: -13px;
  }
  .top_util_wrap .step_wrap li:after {
    right: -20px;
  }
  .top_util_wrap .step_wrap li:last-child {
    margin-right: 0;
  }
  .top_util_wrap .step_wrap li:last-child:after {
    display: none;
  }
  .top_util_wrap .point {
    padding: 21px 0 21px 90px;
    vertical-align: middle;
    color: #2d5ba8;
    font-size: 26px;
    margin: 0 80px 0 40px;
    background: url(../img/page/member/ico_point.png) 0 50% no-repeat;
    background-size: 80px;
  }
  .top_util_wrap .btn_shop {
    display: inline-block;
    padding: 37px 27px 14px 27px;
    vertical-align: middle;
    line-height: 1.2;
    background: #d7e7ee url(../img/page/member/ico_cart.png) 50% 12px no-repeat;
    background-size: 21px;
  }
  .field_success {
    max-width: 1150px;
    margin: 0 auto;
  }
  .field_success .tbl-order-history td {
    font-size: 15px;
  }
  .field_success .tbl-order-history .btn_more {
    margin-left: 14px;
  }
  .field_success .tbl-order-history .btn_email {
    margin-left: 14px;
  }
}

@media all and (max-width: 320px) {
  .field_login .sub_link {
    font-size: 0;
  }
  .field_login .sub_link > a {
    padding-left: 0;
    background: none !important;
  }
}
