@charset "utf-8";

// color set
$darkBlue1: #1d4695;
$darkBlue2: #274282;
$darkBlue3: #2d5ba8;

$blue1: #345299;
$blue2: #4464af;

$lightblue: #7b9ad8;
$lightblue2: #6888c7;

$orange: #f57b05;
$green: #0d8f53;
$cyan: #a7f6ff;

$black: #212121;
$white: #ffffff;

$lightgray: #f7f7f7;

$gray1: #878787;
$gray2: #bebebe;
$gray3: #cfcfcf; 
$gray4: #e1e2e4;
$gray5: #e1e1e1;
$gray6: #ebebeb;

$darkgray1: #474747;
$darkgray2: #545454;
$darkgray3: #707070;

