@charset "utf-8";
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/NotoSans-Light.eot);
    src: local('Noto Sans Light'), local('NotoSans-Light'), local('NotoSansKR Light'), local('Noto Sans KR Light'), local('NotoSans Korean Light'), local('Noto Sans Korean Light'),
    url(../fonts/NotoSans-Light.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSans-Light.woff) format('woff'),
    url(../fonts/NotoSans-Light.woff2) format('woff2'),
    url(../fonts/NotoSans-Light.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/NotoSans-Regular.eot);
    src: local('Noto Sans Regular'), local('NotoSans-Regular'), local('NotoSansKR Regular'), local('Noto Sans KR Regular'), local('NotoSans Korean Regular'), local('Noto Sans Korean Regular'),
    url(../fonts/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSans-Regular.woff) format('woff'),
    url(../fonts/NotoSans-Regular.woff2) format('woff2'),
    url(../fonts/NotoSans-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans Medium'), local('NotoSans-Medium'),local('NotoSansKR Medium'),
    url(../fonts/NotoSans-Medium.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSans-Medium.woff) format('woff'),
    url(../fonts/NotoSans-Medium.woff2) format('woff2'),
    url(../fonts/NotoSans-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),local('NotoSansKR Bold'),
    url(../fonts/NotoSans-Bold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSans-Bold.woff) format('woff'),
    url(../fonts/NotoSans-Bold.woff2) format('woff2'),
    url(../fonts/NotoSans-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: local('Noto Sans Black'), local('NotoSans-Black'), local('NotoSansKR Black'),
    url(../fonts/NotoSans-Black.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSans-Black.woff) format('woff'),
    url(../fonts/NotoSans-Black.woff2) format('woff2'),
    url(../fonts/NotoSans-Black.otf) format('opentype');
}
