@charset "utf-8";
@import "./_webfont";
@import "./_variables";
@import "./_mixin";

body,button,h1,h2,h3,h4,h5,h6,input,select,table,textarea{font-family:'Noto Sans KR'}
.onlymobile{display:block;}
.onlypc{display:none;}

// form 요소
.u_tab{
    overflow:hidden;width:100%;margin:25px 0;border:1px solid $darkBlue2;border-bottom-width:3px;
    li{
        float:left;border-left:1px solid $darkBlue2;text-align:center;
        a {height:32px;line-height:30px;font-size:12px;}
        &:first-child{border-left:0;}
        &.on{
            background-color:$darkBlue2;color:$white;
        }
    }
    &.tab3 li{
        width:33%;
    }
    &.tab4 li{
        width:25%;
    }
}

.box-wrap{
    .box{
        position:relative;border: 1px solid $gray4;
        .category{
            position:absolute;top:14px;left:14px;width:24px;height:24px;color:$white;text-align:center;line-height:24px;z-index:2;
            @include rnded(50%);
        }
        .info{
            background-color:$lightgray;
        }
    }
}

// 접근성 메뉴
#acc-nav{
    position:relative;width:100%;z-index:201;
    >a{
        position:absolute;top:-4rem;left:0;right:0;height:4rem;padding:0 20px 0 26px;border-bottom:1px solid #6d6d6d;font-size:2rem;line-height:4rem;background-color:$darkgray1;color:$white;text-align:center;
        &:active, &:focus{
            overflow:hidden;top:0;text-decoration:none;
        }
    }
}

// [S] header
#header{
    position:fixed;top:0;right:0;left:0;z-index:99;width:100%;margin:0 auto;background-color:$white;
    .inner{
        position:relative;width:100%;margin:0 auto;padding:0 20px;text-align:center;max-width:100%;min-width:320px;
    }
    .logo{
        width:107px;height:26px;margin:12px 0;background:url(../img/common/logo.png) 0 0 no-repeat;background-size:auto 100%;
    }
    .btn_m_menu{
        position:absolute;top:9px;right:10px;display:block;width:36px;height:34px;background:url(../img/common/btn_m_menu.png) 50% 50% no-repeat;background-size:16px 14px;
    }
    #gnb{
        display:none;margin-left:280px;
        .depth1{
            position:relative;
            &:before{
                position:absolute;left:26px;bottom:-33px;width:553px;height:1px;background-color:$gray3;content:'';
            }
            > li {
                float:left;margin-left:140px;
                > a{
                    position:relative;font-size:18px;
                    &:after{
                        position:absolute;left:50%;bottom:-11px;width:7px;height:7px;background-color:$gray3;content:'';
                        @include rnded(50%);
                    }
                }
                &:first-child{margin-left:0;}
                &.menuOpen{
                    .depth2{
                        display:block;
                    }
                }
            }
        }
        .depth2{
            display:none;
            position:absolute;top:0;left:0;right:0;padding:25px 0 35px 0;
        }
        .depth3{
            display:none;
        }
    }
    .util{
        display:none;position:absolute;top:27px;right:0;
        > a {display:inline-block;width:100px;height:35px;font-size:14px;line-height:30px;text-align:center;}
        .btn_login{color:$darkBlue2;border: 1px solid $darkBlue2;}
        .btn_join{color:$white;background-color:$darkBlue2;border: 1px solid $darkBlue2;}
    }
}
// [E] header

// [S] container
#container{
    padding-top:51px;
}
// [E] container

// [S] footer
#footer{
    background-color:$gray6;
    .inner{
        .ft_terms{
            overflow:hidden;padding: 0 20px;text-align:center;border-top: 1px solid $gray2;border-bottom: 1px solid $gray2;
            li{
                display:inline-block;margin:0 20px;font-size:12px;line-height:48px;color:$darkgray2;
            }
        }
        .ft_btm{
            padding: 20px 20px 25px;
            .logo{
                width:39.5px;height:28px;background:url(../img/common/logo_m_footer.png) 0 0 no-repeat;background-size:100% auto;
            }
            .ft_info{
                margin-top:5px;
                .ft_address{
                    overflow:hidden;font-size:8px;line-height:24px;color:$darkgray2;
                    .title{
                        color:$blue2;font-weight:600;
                    }
                    .info{float:left;margin-right:20px}
                    .tit{
                        position:relative;margin-right:4px;font-weight:600;
                        &:after{
                            display:inline-block;margin-left:5px;content:'.';
                        }
                    }
                    .btn_busi_info{
                        //82 17
                        background-color:$white;padding:5px 14px;border: 1px solid #959595;
                    }
                }
                .copyright{color:$darkgray2;font-size:7px;}
            }
        }
    }
}
// [E] footer

// [S] m_layer_menu
#m_layer_menu{
    display:none;position:fixed;top:0;left:0;z-index:999999;width:100%;height:100%;overflow:hidden;background-color:$blue2;
    .layer_wrap{
        position:absolute;top:-100px;left:0;width:100%;height:100%;overflow:auto;transition:top .3s;
        .top{overflow:hidden;background-color:$blue1;}
    }
    .logo{
        width:107px;height:26px;margin:12px 0;background:url(../img/common/logo_white.png) 0 0 no-repeat;background-size:auto 100%;
    }
    .util{
        text-align:right;padding:0 20px;background-color:$white;
        > a{
            position:relative;display:inline-block;height:60px;margin-left:25px;padding-left:33px;line-height:60px;font-size:14px;color:$blue2;font-weight:500;
            &:before{
                position:absolute;top:19px;left:0;width:22px;height:22px;margin-bottom:-5px;content:'';
            }
            &.btn_login:before{background:url(../img/common/ico_login.png) 0 0 no-repeat;background-size:100% auto;}
            &.btn_join:before{background:url(../img/common/ico_join.png) 0 0 no-repeat;background-size:100% auto;}
            &:after{
                position:absolute;top:23px;left:-10px;width:1px;height:14px;margin-bottom:-2px;background-color:$blue2;content:'';
            }
            &:first-child{
                margin-left:0;
                &:after{
                    display:none;
                }
            }
        }
    }
    .btn_close_m_menu{
        position:absolute;top:9px;right:10px;width:34px;height:34px;background:url(../img/common/btn_close.png) 50% 50% no-repeat;background-size:14px 14px;content:'';font-size:0;
    }
    #m_gnb{
        background-color:$blue2;overflow-y:scroll;
        button, a {width:100%;cursor:pointer;text-align:left;}
        .depth1{
            > li{
                line-height:50px;
                > button,
                > a {
                    position:relative;height:50px;line-height:50px;padding-left:45px;font-size:15px;text-align:left;color:$white;border-bottom: 1px solid rgba(255,255,255,0.3);
                    &:before{
                        position:absolute;top:50%;left:20px;width:12px;height:5px;margin-top:-2px;background-color:$white;opacity:0.5;content:'';
                        @include rnded(5px);
                    }
                }
                &:last-child{
                    > button,
                    > a {border-bottom:none;}
                }
                &.menuOpen{
                    > .depth2{
                        display:block !important;
                    }        
                }
            }
        }
        .depth2{
            display:none;background-color:$blue1;
            > li {
                line-height:33px;
                > button,
                > a {
                    position:relative;height:33px;padding-left:50px;font-size:12px;line-height:33px;color:$white;
                    &:before{
                        display:inline-block;margin-right:7px;content:'-';
                    }
                }
                &.menuOpen{
                    .depth3{
                        display:block;
                    }        
                }
            }
        }
        .depth3{
            display:none;background-color:$darkBlue1;padding:5px 0;
            > li {
                line-height:21px;
                > a {
                    display:block;position:relative;height:21px;padding-left:57px;font-size:9px;line-height:21px;color:$white;
                    &:before{
                        display:inline-block;
                        width:3px;height:3px;margin-top:-1px;margin-right:10px;background-color:$white;content:'';
                        @include rnded(50%);
                    }
                }
            }
        }
    }
    .terms_link{
        overflow:hidden;margin-top:73px;padding:0 20px;
        &:before{
            display:inline-block;width:20px;height:2px;margin-bottom:25px;background-color:$white;content:'';
        }
        li{
            float:left;position:relative;font-size:12px;color:$white;margin-left:16px;
            &:before{
                display:inline-block;content:'|';margin-right:16px;
            }
            &:first-child{
                margin-left:0;
                &:before{display:none;}
            }
        }
    }
    .contact{
        margin-top:20px;padding:0 20px 0 75px;color:$white;background:url(../img/common/ico_m_call.png) 20px 50% no-repeat;background-size:40px 40px;
        .phone{font-size:20px;}
        .hour{display:block;font-size:12px;}
    }
    &.menuOpen{
        display:block;
        .layer_bg{
            opacity:.7;
        }
        .layer_wrap{
            top:0;
        }
    }
}
// [E] m_layer_menu

@media all and (min-width:1200px) {
    .onlymobile{display:none;}
    .onlypc{display:block;}
    
    // header
    #header{
        text-align:left;
        .inner{
            padding:0;max-width:1200px;border-bottom:none;
        }
        .btn_m_menu{display:none;}
        .logo{
            position:absolute;top:0;left:0;width:171px;height:42px;
        }
        #gnb{display:inline-block;text-align:left;}
        .util{display:block;}
    }

    // m_layer_menu
    #m_layer_menu{display:none;}

    .box-wrap{
        .box{
            &:hover{
                @include boxShadow(0, 0, 5px, 10px, rgba(177, 177, 177, 0.2));
            }
        }
    }
}