@charset "utf-8";
@import "./_webfont";
@import "./_variables";
@import "./_mixin";

body,button,h1,h2,h3,h4,h5,h6,input,select,table,textarea{font-family: "Noto Sans KR", sans-serif;}
.onlymobile{display:block;}
.onlypc{display:none;}

// form 요소
.u_tab{
    overflow:hidden;width:100%;margin:25px 0;border:1px solid $darkBlue3;border-bottom-width:3px;
    li{
        float:left;text-align:center;
        a {display:block;height:32px;line-height:30px;font-size:12px;border-left:1px solid $darkBlue3;word-wrap:break-word;word-break:keep-all;}
        &:first-child a{border-left:0;}
        &.on{
            a{background-color:$darkBlue3;color:$white;}
        }
    }
    &.tab3 li{
        width:33.333%;
    }
    &.tab4 li{
        width:25%;
    }
}

.box_wrap{
    .box{
        position:relative;border:1px solid $gray4;
        .category{
            display:inline-block;width:24px;height:24px;color:$white;text-align:center;line-height:24px;vertical-align:top;
            @include rnded(50%);
        }
        .info{
            background-color:$lightgray;
        }
    }
}

// 접근성 메뉴
#acc-nav{
    position:relative;width:100%;z-index:201;
    >a{
        position:absolute;top:-8rem;left:0;right:0;height:4rem;padding:0 20px 0 26px;border-bottom:1px solid #6d6d6d;font-size:2rem;line-height:4rem;background-color:$darkgray1;color:$white;text-align:center;
        &:active, &:focus{
            overflow:hidden;top:0;text-decoration:none;
        }
    }
}

// [S] header
#header{
    position:fixed;top:0;right:0;left:0;z-index:99;width:100%;margin:0 auto;background-color:$white;border-bottom: 1px solid $gray4;
    .gnb_bg{
        display:none;position:absolute;top:90px;left:0;right:0;width:100%;height:270px;background-color:$white;content:'';border-bottom:5px solid $blue2;opacity:.95;
        @include boxShadow(0, 2px, 6px, 0px, rgba(0, 0, 0, 0.15), inset);
    }
    .inner{
        position:relative;width:100%;margin:0 auto;padding:12px 20px;text-align:center;max-width:100%;min-width:320px;font-size:0;
    }
    .logo{
        > a{display:block;width:107px;height:26px;background:url(../img/common/logo.png) 0 0 no-repeat;background-size:auto 100%;}
    }
    .btn_m_menu{
        position:absolute;top:9px;right:10px;display:block;width:36px;height:34px;background:url(../img/common/btn_m_menu.png) 50% 50% no-repeat;background-size:16px 14px;
    }
    #gnb{
        position:relative;display:none;margin-left:223px;
        .depth1{
            position:relative;
            &:before{
                position:absolute;left:88px;bottom:-63px;right:88px;height:1px;background-color:$gray3;content:'';
            }
            > li {
                float:left;width:178px;text-align:center;
                > a{
                    position:relative;display:block;height:89px;margin:0 20px;padding:20px 0;line-height:43px;font-size:18px;
                    &:after{
                        position:absolute;left:50%;bottom:23px;width:7px;height:7px;background-color:$gray3;content:'';transition:width .3s;
                        @include midCenterTransform(-50%, 0px);
                        @include rnded(5px);
                    }
                }
                &:first-child{margin-left:0;}
                &.menuOpen, &:hover, &:focus{
                    > a{
                        color:$darkBlue1;
                        &:after{
                            width:35px;background-color:$blue2;transition:width .3s;
                        }
                    }
                    .depth2{
                        display:block;
                    }
                }
            }
        }
        .depth2{
            display:none;position:absolute;top:90px;left:0;right:0;height:270px;margin-left:60px;padding:20px 0 35px 0;text-align:left;
            > li {
                display:inline-block;width:180px;text-align:left;
                > a {
                    position:relative;font-size:16px;line-height:30px;color:$black;
                    &:after{
                        position:absolute;bottom:-2px;left:0;width:0;height:1px;background-color:#4e4e4e;content:'';transition:width .3s;
                    }
                }
                &.menuOpen, &:hover, &:focus{
                    > a:after{
                        width:100%;
                    }
                }
            }
        }
        .depth3{
            margin-top:9px;
            > li {
                > a {
                    position:relative;font-size:14px;line-height:36px;color:$black;
                    &:before{
                        content:'-';padding-right:3px;
                    }
                    &:after{
                        position:absolute;bottom:-2px;left:0;width:0;height:1px;background-color:#7e7d7f;content:'';transition:width .3s;
                    }
                }
                &:hover, &:focus{
                    > a:after{
                        width:100%;
                    }    
                }
            }
        }
    }
    .util{
        display:none;position:absolute;top:28px;right:0;
        > a {display:inline-block;width:100px;height:35px;margin-right:10px;font-size:14px;line-height:30px;text-align:center;}
        .btn_login{color:$darkBlue3;border: 1px solid $darkBlue3;}
        .btn_join{color:$white;background-color:$darkBlue3;border: 1px solid $darkBlue3;}
    }
}
// [E] header

// [S] container
#container{
    padding-top:51px;
}

.banner{
    position:relative;display:table;width:100%;height:115px;background:url(../img/page/solution/m_banner.jpg) 50% 50% no-repeat;background-size:cover;
    .inner{
        display:table-cell;width:100%;padding:20px;vertical-align:middle;text-align:center;word-wrap:break-word;word-break:keep-all;
    }
    h1{font-weight:700;font-size:21px;line-height:21px;color:$darkBlue3;}
    p{font-weight:300;font-size:7px;margin-top:5px;}
}

.breadcrumb{
    text-align:right;padding:0 20px;border-bottom: 1px solid $gray6;
    ul{ overflow:hidden;}
    li{
        display:inline-block;margin-right:10px;font-size:10px;line-height:25px;height:25px;
        &:after{
            display:inline-block;content:'>';margin-left:10px;
        }
        &:last-child{
            margin-right:0;
            &:after{display:none;}
        }
    }
}
// [E] container

// [S] footer
#footer{
    background-color:$gray6;
    .inner{
        .ft_terms{
            overflow:hidden;padding: 0 20px;text-align:center;border-top: 1px solid $gray2;border-bottom: 1px solid $gray2;
            li{
                display:inline-block;margin:0 10px;font-size:12px;line-height:48px;color:$darkgray2;
            }
        }
        .logo{
            width:39.5px;height:28px;background:url(../img/common/logo_m_footer.png) 0 0 no-repeat;background-size:100% auto;
        }
        .ft_btm{
            padding: 20px 20px 25px;
            .ft_info{
                margin-top:5px;
                .ft_address{
                    overflow:hidden;font-size:8px;line-height:24px;color:$darkgray2;
                    .title{
                        color:$blue2;font-weight:600;
                    }
                    .info{float:left;margin-right:20px}
                    .tit{
                        position:relative;margin-right:4px;font-weight:600;
                        &:after{
                            display:inline-block;margin-left:5px;content:'.';
                        }
                    }
                    .btn_busi_info{
                        padding:0 8px 1px 8px;background-color:$white;border: 1px solid #959595;
                    }
                }
                .copyright{color:$darkgray2;font-size:7px;}
            }
        }
    }
}
// [E] footer

// [S] m_layer_menu
#m_layer_menu{
    display:none;position:fixed;top:0;left:0;z-index:999999;width:100%;height:100%;overflow:hidden;background-color:$blue2;
    .layer_wrap{
        position:absolute;top:-100px;left:0;width:100%;height:100%;overflow:auto;transition:top .3s;
        .top{overflow:hidden;background-color:$blue1;}
    }
    .logo{
        a{display:block;width:107px;height:26px;margin:12px 0 12px 20px;background:url(../img/common/logo_white.png) 0 0 no-repeat;background-size:auto 100%;}
    }
    .util{
        text-align:right;padding:0 20px;background-color:$white;
        > a{
            position:relative;display:inline-block;height:60px;margin-left:25px;padding-left:33px;line-height:60px;font-size:14px;color:$blue2;font-weight:500;
            &:before{
                position:absolute;top:19px;left:0;width:22px;height:22px;margin-bottom:-5px;content:'';
            }
            &.btn_login:before{background:url(../img/common/ico_login.png) 0 0 no-repeat;background-size:100% auto;}
            &.btn_join:before{background:url(../img/common/ico_join.png) 0 0 no-repeat;background-size:100% auto;}
            &:after{
                position:absolute;top:23px;left:-10px;width:1px;height:14px;margin-bottom:-2px;background-color:$blue2;content:'';
            }
            &:first-child{
                margin-left:0;
                &:after{
                    display:none;
                }
            }
        }
    }
    .btn_close_m_menu{
        position:absolute;top:9px;right:10px;width:34px;height:34px;background:url(../img/common/btn_close.png) 50% 50% no-repeat;background-size:14px 14px;content:'';font-size:0;
    }
    #m_gnb{
        background-color:$blue2;overflow-y:scroll;
        button, a {width:100%;cursor:pointer;text-align:left;}
        .depth1{
            > li{
                position:relative;line-height:50px;
                &:before{
                    position:absolute;top:50px;left:0;width:100%;height:1px;content:'';background-color:rgba(255,255,255,0.3);
                }
                > button{
                    position:relative;width:86%;height:50px;line-height:50px;padding-left:45px;font-size:15px;text-align:left;color:$white;
                    &:before{
                        position:absolute;top:50%;left:20px;width:12px;height:5px;margin-top:-2px;background-color:$white;opacity:0.5;content:'';
                        @include rnded(5px);
                    }
                }
                .btn_go{
                    position:absolute;top:7px;right:20px;display:block;width:40px;height:35px;font-size:0;z-index:5;
                    &:before{
                        position:absolute;top:50%;right:1px;width:18px;height:1px;content:'';background-color:$white;
                    }
                    &:after{
                        position:absolute;top:50%;right:1px;width:8px;height:8px;margin-top:-4px;content:'';border:solid white;border-width:0 1px 1px 0;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);
                    }
                }
                &:last-child{
                    > button{border-bottom:none;}
                }
                &.menuOpen{
                    > .depth2{
                        display:block !important;
                    }        
                }
            }
        }
        .depth2{
            display:none;background-color:$blue1;
            > li {
                line-height:33px;
                > button,
                > a {
                    position:relative;height:33px;padding-left:50px;font-size:13px;line-height:33px;color:$white;
                    &:before{
                        display:inline;margin-right:7px;content:'-';
                    }
                }
                &.menuOpen{
                    .depth3{
                        display:block;
                    }        
                }
            }
        }
        .depth3{
            display:none;background-color:$darkBlue2;padding:5px 0 10px 0;
            > li {
                line-height:21px;
                > a {
                    position:relative;display:inline-block;width:100%;height:21px;padding-left:57px;font-size:11px;line-height:30px;color:$white;
                    &:before{
                        display:inline-block;width:3px;height:3px;margin-top:-1px;margin-right:10px;background-color:$white;content:'';
                        @include rnded(50%);
                    }
                }
            }
        }
    }
    .terms_link{
        overflow:hidden;margin-top:73px;padding:0 20px;
        &:before{
            display:inline-block;width:20px;height:2px;margin-bottom:25px;background-color:$white;content:'';
        }
        li{
            float:left;position:relative;font-size:12px;color:$white;margin-left:16px;
            &:before{
                display:inline-block;content:'|';margin-right:16px;
            }
            &:first-child{
                margin-left:0;
                &:before{display:none;}
            }
        }
    }
    .contact{
        margin-top:20px;padding:0 20px 0 75px;color:$white;background:url(../img/common/ico_m_call.png) 20px 50% no-repeat;background-size:40px 40px;
        .phone{font-size:20px;}
        .hour{display:block;font-size:12px;}
    }
    &.menuOpen{
        display:block;
        .layer_bg{
            opacity:.7;
        }
        .layer_wrap{
            top:0;
        }
    }
}
// [E] m_layer_menu

// [S] Form
.form_field{
    max-width:640px;width:100%;margin:20px auto;padding:0 20px;overflow:hidden;
    hr{
        border:none;background-color:#7b9ad8;height:2px;margin:20px 0;
    }
}

h3.tit{
    position:relative;font-size:16px;line-height:40px;
    span{font-weight:300;}
    &:before{
        display:inline-block;width:10px;height:10px;margin-right:6px;background-color:#57616d;content: '';
    }
}
.btn_wrap{
    overflow:hidden;margin:20px auto;text-align:center;
    a, button{display:inline-block;width:100%;color:$white;font-size:14px;text-align:center;line-height:40px;}
    .btn{
        &_lb{
            background-color:$lightblue;
            &:hover{background-color:$lightblue2;}
        }
        &_blue{
            background-color:$blue2;
            &:hover{background-color:$darkBlue3;}
        }
        &_gray{
            background-color:$darkgray3;
            &:hover{background-color:$darkgray1;}
        }
        &_m{width:120px;}
        &_sm{width:70px;}
    }
}
table{
    th,td{border:1px solid $gray3;}
}

.ipbx_item {
    overflow:hidden;position:relative;margin-bottom:10px;
    input, textarea{
        &::placeholder{color:$gray1;font-weight:300;}
    }
    textarea{width:100%;min-height:100px;}
    .u_ipbx {
        position:relative;overflow:hidden;
        .int{
            position:relative;width:100%;height:40px;padding:11px 8px 9px 8px;font-size:14px;line-height:14px;color:$black;border:1px solid $gray3;
        }
        &.w420{
            width:100%;margin-right:10px;padding-right:40%;
            & + span{ position:absolute;top:0;right:0;width:calc( 40% - 10px );}
        }
        &.w100{
            .int{width:100% !important;min-width:100% !important;}
        }
    }
    [class^="txt_"]{
        font-size:13px;
    }
    .txt_warning{
        color:#eb3671;
    }
    .txt_accept{
        color:$darkBlue1;
    }
    .u_radio{
        overflow:hidden;font-size:0;height:40px;
        input[type="radio"] + label{
            position:absolute;top:0;display:block;width:50%;height:40px;line-height:40px;font-size:14px;cursor:pointer;text-align:center;border:1px solid $gray3;color:$gray1;
            &:first-child{left:0;}
            &:last-child{left:50%;margin-right:0 !important;}
        }
        input[type="radio"]:checked + label{background-color:$darkgray3;color:$white;font-weight:600;}
    }
    .u_selbox{
        position:relative;overflow:hidden;
        .sel{
            position:relative;width:100%;border:1px solid $gray3;font-size:14px;line-height:14px;color:$black;height:40px;padding:11px 15px 11px 15px;background-color:$white;
        }
    }
}
.agree_form{
    padding:22px 30px;background-color:$lightgray;border:1px solid #cccccc;
    p{margin-bottom:10px;font-size:14px;}
}
input[type="checkbox"] + label{	
    display:inline-block;font-size:14px;line-height:36px;cursor:pointer;
    span{font-weight:300;font-size:14px;}
    &:before{display:inline-block;width:20px;height:20px;margin-right:10px;margin-bottom:-6px;
        border:2px solid #ccc;content: '';background-color:$white;}
}
input[type="checkbox"]:checked + label {
    position: relative;
    &:before{background-color:#4d5eab;}
    &:after{position:absolute;top:10px;left:8px;width:5px;height:10px;border:solid white;border-width:0 3px 3px 0;transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);content: '';}
}
// [E] Form

// [S] content
// 진행과정
.u_step{
    overflow:hidden;margin:20px 0;padding:0 20px;border-bottom:5px solid $darkBlue3;
    .u_tab{
        margin:0 auto;margin-bottom:-2px;border:none;
        li{
            display:table;position:relative;text-align:center;border:1px solid $darkBlue3;margin-right:-1px;
            span{
                display:table-cell;height:40px;vertical-align:middle;font-size:14px;line-height:16px;color:$darkBlue3;word-wrap:break-word;word-break:keep-all;
            }
            &.on{
                position:relative;
                span{
                    color:$white;font-weight:500;background-color:$darkBlue3;
                }
                &:after{
                    position:absolute;top:-2px;right:0;display:block;content:'';width:0;height:0;border:0 solid transparent;border-bottom-width:22px;border-top-width:22px;border-left:12px solid $darkBlue3;z-index: 2;
                }
            }
            &:last-child{
                margin-right:0;
                &.on{
                    &:after{display:none;}
                }
            }
        }
    }
}
// [E] content

@media all and (min-width:1200px) {
    .onlymobile{display:none;}
    .onlypc{display:block;}
    
    // header
    #header{
        .inner{padding:0;max-width:1200px;border-bottom:none;text-align:left;}
        .btn_m_menu{display:none;}
        .logo a{position:absolute;top:25px;left:0;width:171px;height:42px;}
        #gnb{display:inline-block;text-align:left;}
        .util{display:block;}
    }

    // footer
    #footer{
        background-color:$darkgray1;
        .inner{
            .ft_terms{
                overflow:hidden;padding:0;text-align:center;border-top: 1px solid $gray2;border-bottom: 1px solid #7f8082;background-color:$darkgray2;
                ul{max-width:1200px;margin:0 auto;}
                li{
                    display:inline-block;margin:0 40px;font-size:15px;line-height:60px;color:#b3b3b3;
                }
            }
            .logo{
                width:79px;height:56px;background:url(../img/common/logo_footer.png) 0 0 no-repeat;background-size:100% auto;
            }
            .ft_btm{
                overflow:hidden;max-width:1200px;margin:0 auto;padding:35px 0 55px;
                .ft_policy{
                    float:left;width:744px;
                }
                .ft_contact{
                    position:relative;float:left;width:456px;padding-left:100px;color:#b3b3b3;background:url(../img/common/ico_call.png) 34px 50% no-repeat;background-size:43px 44px;
                    &:before{
                        position:absolute;top:-30px;left:0;width:1px;height:100px;background-color:#626262;content:'';
                    }
                    .tit{font-size:18px;line-height:12px;}
                    .phone{display:block;font-size:24px;color:$white;line-height:28px;}
                    .hour{
                        position:absolute;right:10px;bottom:2px;font-size:15px;color:#b3b3b3;line-height:20px;
                        .category{display:inline-block;width:70px;}
                    }
                }
                .ft_info{
                    margin-top:0;
                    .ft_address{
                        margin-bottom:8px;font-size:14px;line-height:32px;color:#b3b3b3;
                        .info{margin-right:30px}
                        .tit{
                            margin-right:8px;
                            &:after{margin-left:10px;}
                        }
                        .btn_busi_info{
                            font-size:14px;padding:3px 22px;background-color:transparent;border:2px solid #6d8fe0;color:#6d8fe0;
                        }
                    }
                    .copyright{color:$darkgray3;font-size:14px;}
                }
            }
        }
    }

    // m_layer_menu
    #m_layer_menu{display:none;}

    // form
    .form_field{
        max-width:100%;margin:50px auto;padding:0;
    }

    .btn_wrap{
        margin:20px auto;
        a, button{font-size:16px;line-height:50px;}
        .btn{
            &_m{width:240px;}
            &_sm{width:180px;}
        }
    }
    
    .ipbx_item {
        margin-bottom:30px;
        .u_ipbx {
            .int{padding:13px 15px 12px 15px;}
            &.w420{
                width:420px;margin-right:20px;padding-right:0;
                & + span{width:200px;}
            }
        }
        .u_radio{
            input[type="radio"] + label{
                width:95px;height:40px;line-height:40px;margin-right:10px;
            }
        }
    }

    // content
    #container{padding-top:90px;}
    .container{
        max-width:1200px;margin:0 auto;
    }

    // 진행과정
    .u_step{
        margin:50px 0;padding:0;
        .u_tab{
            max-width:746px;
            li{
                span{
                    font-size:22px;line-height:50px;
                }
                &:before{
                    height:50px;
                }
                &.on{
                    &:after{
                        border-bottom-width:27px;border-top-width:27px;border-left:23px solid $darkBlue3;
                    }
                }
                &:first-child:before{border-left:none;}
            }
        }
    }

    // banner
    .banner{
        height:200px;background:url(../img/page/solution/banner.jpg) 50% 50% no-repeat;background-size:cover;
        .inner{padding:20px;}
        h1{
            position:relative;font-size:40px;line-height:40px;margin-top:35px;
            &:after{
                position:absolute;top:-15px;left:50%;width:40px;height:5px;margin-left:-20px;background-color:$darkBlue3;content:'';
            }
        }
        p{font-size:16px;margin-top:6px;}
    }

    // breadcrumb
    .breadcrumb{
        padding:0;
        ul{max-width:1200px;margin:0 auto;}
        li{
            margin-right:10px;font-size:14px;line-height:40px;height:40px;
            &:after{margin-left:10px;}
        }
    }

    .box_wrap{
        .box{
            &:hover{
                @include boxShadow(0, 0, 3px, 3px, rgba(177, 177, 177, 0.2));
            }
            .category{
                width:45px;height:22px;font-size:14px;line-height:22px;
                @include rnded(0);
            }
        }
    }

    // tab
    .tab_head{
        position:relative;
        &:before{
            position:absolute;left:50%;bottom:0;width:100vw;margin-left:-50vw;height:2px;background-color:$gray5;content: '';z-index:-1;
        }
        .u_tab{
            margin:50px 0;border:none;
            li{
                a {height:50px;line-height:46px;font-size:22px;background-color:$gray5;color:$black;border:2px solid $gray5;margin:0 1px;}
                &:first-child a{border-left: 2px solid $gray5}
                &.on, &:hover{
                    a{background-color:$white;color:$darkBlue3;border-bottom-color:$white;}
                }
            }
        }
    }
}