@charset "utf-8";
@import "./_webfont";
@import "./_variables";
@import "./_mixin";

// 타이틀
.title_wrap{
    position:relative;text-align:center;padding-top:30px;border-top:1px solid $gray3;
    &:after{position:absolute;top:0;left:50%;width:200px;height:5px;margin-left:-100px;background-color: $gray3;content: '';}
    h2{font-size:24px;line-height:24px;font-weight:500;}
}

// 진행과정
.member_step{
    overflow:hidden;margin:30px 0;padding:0 20px;border-bottom:5px solid $darkBlue3;
    .u_tab{
        margin:0 auto;margin-bottom:-2px;border:none;
        li{
            display:table;position:relative;text-align:center;border-top:2px solid $darkBlue3;
            span{
                display:table-cell;height:40px;vertical-align:middle;font-size:14px;line-height:normal;color:$darkBlue3;word-wrap:break-word;word-break:keep-all;
            }
            &:before{
                position:absolute;top:0;left:0;width:2px;height:40px;content:'';background-color:$darkBlue3;
            }
            &.on{
                position:relative;
                span{
                    color:$white;font-weight:500;background-color:$darkBlue3;
                }
                &:after{
                    position:absolute;top:-2px;left:100%;display:block;content:'';width:0;height:0;border:0 solid transparent;border-bottom-width:22px;border-top-width:22px;border-left:12px solid $darkBlue3;z-index: 2;
                }
            }
            &:last-child{
                border-right:2px solid $darkBlue3;
                &.on{
                    &:after{display:none;}
                }
            }
        }
    }
}

// 폼
.ipbx_item {
    .ipbx_btn{
        padding-right:100px;
    }
    .btn_chk{position:absolute;top:0;right:0;width:90px;height:40px;font-size:14px;line-height:40px;color:$white;background-color:#7b9ad8;}
    &.ipbx_pw{
        .u_ipbx{
            margin-top:10px;
            &:first-child{margin-top:0;}
        }
        .int{
            padding:11px 30px 9px 8px;
            &.pw{
                background:url(../img/page/member/ico_pwd.png) 97% 50% no-repeat;background-size:19px 23px;
                &.success{
                    background:url(../img/page/member/ico_pwd_suc.png) 97% 50% no-repeat;background-size:19px 23px;
                }
            }
            &.re_pw{
                background:url(../img/page/member/ico_repwd.png) 97% 50% no-repeat;background-size:19px 23px;
                &.success{
                    background:url(../img/page/member/ico_repwd_suc.png) 97% 50% no-repeat;background-size:19px 23px;
                }
            }
        }
    }
    &.ipbx_phone{
        > span{
            float:left;width:calc( 33.3% - 7px );margin-right:10px;overflow:visible;
            &:last-child{
                margin-right:0;
                &:after{display:none;}    
            }
            &:after{
                position:absolute;top:0;right:-6px;display:block;content:'-';line-height:40px;
            }
        }
    }
    &.ipbx_birthdate{
        .u_radio{
            position:absolute;top:0;right:0;width:90px;
        }
    }
    &.ipbx_delete{
        overflow:hidden;padding:15px 30px;font-size:14px;color:$darkgray2;background-color:#d7e7ee;border:1px solid #6f99ab;
        span{display:inline-block;}
        button{
            float:right;display:inline-block;font-size:14px;width:70px;height:30px;color:$white;background-color:#a2c9da;border:1px solid #6f99ab;
        }
    }
}

// 회원가입, 회원정보 수정 폼
.form_field{
    max-width:640px;width:100%;margin:20px auto;padding:0 20px;
    hr{
        border:none;background-color:#7b9ad8;height:2px;margin:20px 0;
    }
}

// 회원정보 수정
.wrap_edit{
    .member_step{
        .u_tab{
            li{
                &.on:after{
                    display:none;
                }
            }
        }
    }
}
.field_edit{
    .tit{
        position:relative;font-size:16px;line-height:40px;
        span{font-weight:300;}
        &:before{
            display:inline-block;width:10px;height:10px;margin-right:6px;background-color:#57616d;content: '';
        }
    }
    .msg{
        font-size:14px;color:$blue1;text-align:left;margin:15px 0;
    }
    .btn_wrap{
        overflow:hidden;margin:20px 0;
        button{
            float:left;width:calc( 50% - 5px);color:$white;font-size:20px;text-align:center;line-height:50px;
        }
        .btn_cancel{
            margin-right:10px;background-color:$darkgray3;
            &:hover{background-color:$darkgray1;}
        }
        .btn_save{
            background-color:$blue2;
            &:hover{background-color:$darkBlue1;}
        }
    }
}


@media all and (min-width:1200px) {
    // 타이틀
    .title_wrap{
        padding-top:35px;
        h2{font-size:30px;line-height:30px;}
    }

    // 진행과정
    .member_step{
        margin:50px 0;padding:0;
        .u_tab{
            max-width:746px;
            li{
                span{
                    font-size:22px;line-height:50px;
                }
                &:before{
                    height:50px;
                }
                &.on{
                    &:after{
                        border-bottom-width:27px;border-top-width:27px;border-left:23px solid $darkBlue3;
                    }
                }
                &:first-child:before{border-left:none;}
            }
        }
    }

    // 폼
    .ipbx_item {
        .ipbx_btn{
                padding-right:110px;
        }
        &.ipbx_pw{
            .u_ipbx{
                margin-top:30px;
            }
            .int{
                padding:13px 15px 12px 15px;
            }
        }
        &.ipbx_phone{
            > span{
                width:200px;margin-right:20px;
                &:after{right:-12px;}
            }
        }
        &.ipbx_delete{
            padding:15px 50px 15px 30px;line-height:30px;
        }
    }

    // 회원가입
    .form_field{
       padding:0;
        hr{
            height:3px;margin:40px 0;
        }
    }

    // 회원정보 수정
    .field_edit{
        .msg{
            text-align:center;margin:15px 0 15px 0;
        }
        .btn_wrap{
            margin:50px 0;
            button{width:calc( 50% - 10px)}
            .btn_cancel{margin-right:20px;}
        }
    }
}
