@charset "utf-8";
@import "./_webfont";
@import "./_variables";
@import "./_mixin";

// 타이틀
.title_wrap{
    position:relative;text-align:center;padding-top:30px;border-top:1px solid $gray3;
    &:after{position:absolute;top:0;left:50%;width:200px;height:5px;margin-left:-100px;background-color: $gray3;content: '';}
    h2{font-size:24px;line-height:24px;font-weight:500;}
}

// 폼
input,select{border:0;appearance:none;-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;border-radius:0;-webkit-border-radius:0;-webkit-box-shadow:none;}
input[type=radio],input[type=checkbox]{border:0;opacity:0;}
input[type=search]::-webkit-search-cancel-button{-webkit-appearance:none;}
input{-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;appearance:none;}

.ipbx_item {
    .ipbx_btn{
        padding-right:100px;
    }
    .u_ipbx{display:block;}
    .btn_chk{position:absolute;top:0;right:0;width:90px;height:40px;font-size:14px;line-height:40px;color:$white;background-color:$lightblue;}
    &.ipbx_pw{
        .u_ipbx{
            margin-top:10px;
            &:first-child{margin-top:0;}
        }
        .int{
            padding:11px 30px 9px 8px;
            &.pw{
                background:url(../img/page/member/ico_pwd.png) 97% 50% no-repeat;background-size:19px 23px;
                &.success{
                    background:url(../img/page/member/ico_pwd_suc.png) 97% 50% no-repeat;background-size:19px 23px;
                }
            }
            &.re_pw{
                background:url(../img/page/member/ico_repwd.png) 97% 50% no-repeat;background-size:19px 23px;
                &.success{
                    background:url(../img/page/member/ico_repwd_suc.png) 97% 50% no-repeat;background-size:19px 23px;
                }
            }
        }
    }
    &.ipbx_phone{
        > span{
            float:left;width:calc( 33.3% - 7px );margin-right:10px;overflow:visible;
            &:last-child{
                margin-right:0;
                &:after{display:none;}    
            }
            &:after{
                position:absolute;top:0;right:-6px;display:block;content:'-';line-height:40px;
            }
        }
    }
    &.ipbx_birthdate{
        .u_radio{
            position:absolute;top:0;right:0;width:90px;
        }
    }
    &.ipbx_delete{
        overflow:hidden;padding:15px 30px;font-size:14px;color:$darkgray2;background-color:#d7e7ee;border:1px solid #6f99ab;
        span{display:inline-block;}
        button{
            float:right;display:inline-block;font-size:14px;width:70px;height:30px;color:$white;background-color:#a2c9da;border:1px solid #6f99ab;
        }
    }
}

// 회원정보 수정
.wrap_edit{
    .u_step{
        .u_tab{
            li{
                &.on:after{
                    display:none;
                }
            }
        }
    }
}
.field_edit{
    .msg{
        font-size:14px;color:$blue1;text-align:left;margin:15px 0;
    }
    .btn_wrap{
        margin:20px 0;
        button{
            float:left;width:calc( 50% - 5px);
        }
        .btn_gray{
            margin-right:10px;
        }
    }
}

// 로그인
.field_login{
    .ipbx_id{
        padding-right:0;
        .int{
            padding:10px 30px 10px 45px;background:url(../img/page/member/ico_id.png) 18px 50% no-repeat;background-size:16px 20px;
        }
    }
    .ipbx_pw{
        .int{
            padding:10px 30px 10px 45px;background:url(../img/page/member/ico_pwd_bl.png) 18px 50% no-repeat;background-size:17px 20px;
        }
    }
    .sub_link{
        margin-top:30px;overflow:hidden;text-align:center;    
        > a {
            position:relative;display:inline;padding:6px 6px 6px 22px;margin:0 10px;font-size:12px;line-height:36px;color:$black;
            &:after{
                position:absolute;top:7px;right:-10px;width:2px;height:18px;background-color:$lightblue;content: '';
            }
            &:last-child:after{display:none;}
        }
        .btn_join{background:url(../img/page/member/ico_join.png) 0 50% no-repeat;background-size:16px 21px;}
        .btn_find_id{background:url(../img/page/member/ico_id.png) 0 50% no-repeat;background-size:16px 20px;}
        .btn_find_pw{background:url(../img/page/member/ico_pwd_bl.png) 0 50% no-repeat;background-size:17px 20px;}        
    }
}


// mediaquery
@media all and (min-width:1200px) {
    // 타이틀
    .title_wrap{
        padding-top:35px;
        h2{font-size:30px;line-height:30px;}
    }

    // 폼
    .ipbx_item {
        .ipbx_btn{
                padding-right:110px;
        }
        &.ipbx_pw{
            .u_ipbx{
                margin-top:30px;
            }
            .int{
                padding:13px 15px 12px 15px;
            }
        }
        &.ipbx_phone{
            > span{
                width:200px;margin-right:20px;
                &:after{right:-12px;}
            }
        }
        &.ipbx_delete{
            padding:15px 50px 15px 30px;line-height:30px;
        }
    }

    // 회원가입
    .form_field{
       padding:0;
        hr{
            height:3px;margin:40px 0;
        }
    }
    .btn_wrap{
        margin:50px 0;
        button{font-size:20px;}
    }

    // 회원정보 수정
    .field_edit{
        .msg{
            text-align:center;margin:15px 0 15px 0;
        }
        .btn_wrap{
            button{width:calc( 50% - 10px);}
            .btn_gray{margin-right:20px;}
        }
    }

    // 로그인
    .field_login{
        .ipbx_id{
            padding-right:0;
            .int{
                padding:10px 30px 10px 55px;background:url(../img/page/member/ico_id.png) 28px 50% no-repeat;background-size:16px 20px;
            }
        }
        .ipbx_pw{
            .int{
                padding:10px 30px 10px 55px;background:url(../img/page/member/ico_pwd_bl.png) 28px 50% no-repeat;background-size:17px 20px;
            }
        }
        .sub_link{
            margin-top:30px;
            > a {
                padding:10px 10px 10px 24px;margin:0 16px;font-size:16px;line-height:36px;
                &:after{
                    top:13px;right:-10px;height:20px;
                }
            }    
        }
    }
}

// 320 이하
@media all and (max-width:320px) {
    // 로그인
    .field_login{
        .sub_link{
            font-size:0;
            > a {
                padding-left:0;background:none !important;
            }
        }   
    }
}
