@charset "utf-8";
@import "./_webfont";
@import "./_variables";
@import "./_mixin";

.solution_lst{
    padding:0 20px;
    .box{
        position:relative;overflow:hidden;height:165px;margin-bottom:25px;
        .category{position:absolute;left:15px;top:15px;display:inline-block;background-color:$orange;z-index:2;}
        .btn_view{
            position:absolute;right:15px;bottom:15px;display:inline-block;width:50px;height:15px;line-height:13px;padding:0 14px 0 8px;font-size:7px;color:$blue2;opacity:.8;text-align:center;                
            border: 1px solid $blue2;background:url(../img/common/ico_m_view.png) 34px 4px no-repeat;background-size:7px 7px;overflow:hidden;z-index:2;
            @include rnded(7px);
        }
        figure{
            position:absolute;top:0;left:0;bottom:0;width:160px;height:100%;overflow:hidden;vertical-align:middle;z-index:1;
        }
        .info{
            height:100%;padding-left:160px;
            .inner{
                padding:20px 12px 35px;
            }
            .title{
                display:block;margin-bottom:12px;font-size:15px;
                @include ellipsis;
            }
            .sub{
                margin-bottom:10px;font-size:9px;line-height:15px;font-weight:500;
                @include ellipsis;
            }
            .txt{
                font-size:8px;line-height:12px;font-weight:300;
                @include clampNum(3);
            }
        }
    }
}

.prd_select_wrap{
    padding:20px 0;text-align:center;background-color:#f3f5f8;border-top:1px solid #dbdde3;border-bottom:3px solid #dbdde3;
    ul{display:inline-block;margin: 0 auto;text-align:center;}
    li{
        position:relative;float:left;margin:0 14px;height:40px;line-height:40px;font-size:16px;
        &:after{
            position:absolute;top:50%;right:-16px;width:8px;height:8px;margin-top:-4px;content:'';border:solid $darkBlue3;border-width:0 1px 1px 0;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);
        }
        &:first-child{display:none;}
        &:last-child:after{display:none;}
    }
    .ipbx_item .u_selbox{
        position:relative;
        .sel{
            height:40px;padding:10px 30px 10px 12px;font-size:16px;line-height:16px;border:2px solid $darkBlue3;background:$white;
        }
        &:after{
            position:absolute;top:15px;right:8px;width:19px;height:13px;content:'';background:url(../img/common/ico_sel_arrow.png) 0 0 no-repeat;background-size:19px 13px;
        }
    }
}

// 결제
.wrap_pay{
    .u_step{
        border-bottom:1px solid #57616d;
        .u_tab{
            li{
                border-top:1px solid #57616d;
                &:before{width:1px;background-color:#57616d;}
                span{color:#57616d;}
                &.on{
                    span{color:$white;background-color:#57616d;}
                    &:after{
                        border-left-color:#57616d;
                    }
                }
            }
            
        }
    }
     
}


@media all and (min-width:1200px) {
    .solution_lst{
        padding:0;overflow:hidden;padding-top:20px;
        .box{
            float:left;width:580px;height:240px;margin-bottom:50px;border:1px solid $gray4;
            &:nth-child(odd){margin-right:20px;}
            &:nth-child(even){margin-left:20px;}
            .category{position:unset;margin-right:10px;}
            .btn_view{position:unset;width:25px;height:25px;padding:0;font-size:0;opacity:1;border:none;background:url(../img/common/ico_view.png) 50% 50% no-repeat;background-size:25px 25px;
                @include rnded(0);
            }
            figure{
                position:absolute;top:30px;left:30px;bottom:unset;width:180px;height:180px;border:1px solid $gray4;
            }
            .info{
                height:240px;padding-left:210px;background-color:$white;
                .inner{padding:29px;}
                .title{
                    margin-top:5px;margin-bottom:9px;font-size:24px;line-height:30px;
                }
                .sub{
                    margin-bottom:7px;font-size:18px;line-height:30px;
                }
                .txt{
                    font-size:15px;line-height:18px;
                }
            }
        }
    }

    .prd_select_wrap{
        padding:30px 0;
        li{
            margin:0 35px;height:50px;line-height:50px;font-size:18px;
            &:after{
                right:-35px;
            }
        }
        .ipbx_item .u_selbox .sel{
            height:50px;padding:11px 50px 11px 30px;font-size:18px;line-height:18px;
        }
    }
}

// 320 이하
@media all and (max-width:320px) {
    .prd_select_wrap{
        li{
            margin:0 10px;
            &:after{right:-12px;}
        }
        .ipbx_item .u_selbox{
            .sel{
                padding:6px 30px 6px 11px;
            }
        }
    }
}