@charset "utf-8";
@import "./_webfont";
@import "./_variables";
@import "./_mixin";

.solution_lst{
    padding:0 20px;
    .box{
        position:relative;overflow:hidden;height:165px;margin-bottom:25px;
        .category{position:absolute;left:15px;top:15px;display:inline-block;background-color:$orange;z-index:2;}
        .btn_view{
            position:absolute;right:15px;bottom:15px;display:inline-block;width:50px;height:15px;line-height:13px;padding:0 14px 0 8px;font-size:7px;color:$blue2;opacity:.8;text-align:center;                
            border: 1px solid $blue2;background:url(../img/common/ico_m_view.png) 34px 4px no-repeat;background-size:7px 7px;overflow:hidden;z-index:2;
            @include rnded(7px);
        }
        figure{
            position:absolute;top:0;left:0;bottom:0;width:160px;height:100%;overflow:hidden;vertical-align:middle;z-index:1;
        }
        .info{
            height:100%;padding-left:160px;
            .inner{
                padding:20px 12px 35px;
            }
            .title{
                display:block;margin-bottom:12px;font-size:15px;
                @include ellipsis;
            }
            .sub{
                margin-bottom:10px;font-size:9px;line-height:15px;font-weight:500;
                @include ellipsis;
            }
            .txt{
                font-size:8px;line-height:12px;font-weight:300;
                @include clampNum(3);
            }
        }
    }
}

.prd_select_wrap{
    padding:20px 0;text-align:center;background-color:#f3f5f8;border-top:1px solid #dbdde3;border-bottom:3px solid #dbdde3;
    ul{display:inline-block;margin: 0 auto;text-align:center;}
    li{
        position:relative;float:left;margin:0 14px;height:40px;line-height:40px;font-size:16px;
        &:after{
            position:absolute;top:50%;right:-16px;width:8px;height:8px;margin-top:-4px;content:'';border:solid $darkBlue3;border-width:0 1px 1px 0;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);
        }
        &:first-child{display:none;}
        &:last-child:after{display:none;}
    }
    .ipbx_item .u_selbox{
        position:relative;
        .sel{
            height:42px;padding:8px 30px 8px 12px;font-size:16px;line-height:1.4;border:2px solid $darkBlue3;background:$white;
        }
        &:after{
            position:absolute;top:50%;right:8px;width:19px;height:13px;margin-top:-6px;content:'';background:url(../img/common/ico_sel_arrow.png) 0 0 no-repeat;background-size:19px 13px;
        }
    }
}

// 결제
.wrap_pay{
    .u_step{
        border-bottom:1px solid $gray2;
        .u_tab{
            li{
                // border-color:$gray2;
                &:before{width:1px;background-color:$gray2;}
                span{color:$gray2;border-color:$gray2;}
                &.on{
                    span{color:$white;background-color:#57616d;}
                    &:after{
                        border-left-color:#57616d;
                    }
                }
            } 
        }
    }
    .btn_wrap{
        max-width:650px;
        > a, button {
            &:last-child{margin-right:0;}
        }
    } 
}
.field_pay{
    padding:0 20px;
    .tit{
        margin-top:0;
    }
    table{
        width:100%;
        th{width:80px;font-weight:normal;padding:7px 13px;}
        th, td{font-size:13px;text-align:left;}
        td{padding:7px 14px;}
        th{background-color:$lightgray;font-weight:400;}
    }
    .tbl-customer{
        tr:last-child{
            th,td{height:100px;}
        }
    }
    .tbl-order.onlymobile{
        th{background-color:$darkgray3;color:$white;}
        tbody tr:last-child{
            th,td{background-color:#d7e7ee;color:$black;}
        }
    }
    .cashbill{
        td{background-color:#d7e7ee;}
        
    }
    .cashbill2{
        .ipbx_item label{margin-right:10px;}
    }
    .sel_list{
        overflow:hidden;
        li{
            display:inline-block;margin-right:10px;
            &:last-child{margin-right:0;}
            img{display:block;}
        }
        &.bank{
            li{text-align:center;margin-right:5px;}
            img{margin:0 auto;margin-bottom:4px;}
            input[type="radio"] + label{font-size:12px;}
        }
        input[type="radio"]{display:inline-block;}
        input[type="radio"] + label{display:inline-block;font-size:14px;padding-left:3px;}
    }
    .ipbx_item{
        margin-bottom:0;
        .u_selbox{
            .sel{
                min-width:150px;width:auto;padding:11px 35px 11px 15px;font-size:14px;line-height:14px;background: $white url(../img/page/solution/ico_arrow.png) 90% 50% no-repeat;background-size: 13px 9px;
            }
        } 
        .u_ipbx{
            .int{min-width:120px;width:auto;}
        }
        &.ipbx_file{
            input[type="file"] {position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip:rect(0,0,0,0);border: 0;} 
            label {
                display:inline-block;padding:8px 14px 8px 40px;font-size:12px;line-height:24px;color:$white;background:$darkgray2 url(../img/common/ico_file.png) 14px 50% no-repeat;background-size:16px 17px;cursor:pointer;
            }
            .upload_name{
                min-width:100px;display:inline-block;padding:5px 7px;background-color:$white;cursor: pointer;
            }
        }
    }      
    p{font-size:14px;line-height:18px;}
    .msg{margin-top:15px;font-size:12px;line-height:16px;color:#4d5eab;}
    .ipbx_item + p{margin-top:5px;font-size:12px;}
    .agree_wrap{
        .agree_form{
            padding:0;
            .check_wrap{
                padding:6px 20px;
                border-bottom:1px solid $gray3;
                label span{color:$darkBlue3;line-height:24px;}
            }
            .cont{
                max-height:200px;margin:0;padding:10px 20px;background-color:$white;overflow-y:auto;
            }
        }
        .msg{color:$black;}
    }
    input[type="checkbox"] + label{line-height:24px;}
    input[type="checkbox"]:checked + label:after{top:5px;}
}


@media all and (min-width:1200px) {
    .solution_lst{
        padding:0;overflow:hidden;padding-top:20px;
        .box{
            float:left;width:580px;height:240px;margin-bottom:50px;border:1px solid $gray4;
            &:nth-child(odd){margin-right:20px;}
            &:nth-child(even){margin-left:20px;}
            .category{position:unset;margin-right:10px;}
            .btn_view{position:unset;width:25px;height:25px;padding:0;font-size:0;opacity:1;border:none;background:url(../img/common/ico_view.png) 50% 50% no-repeat;background-size:25px 25px;
                @include rnded(0);
            }
            figure{
                position:absolute;top:30px;left:30px;bottom:unset;width:180px;height:180px;border:1px solid $gray4;
            }
            .info{
                height:240px;padding-left:210px;background-color:$white;
                .inner{padding:29px;}
                .title{
                    margin-top:5px;margin-bottom:9px;font-size:24px;line-height:30px;
                }
                .sub{
                    margin-bottom:7px;font-size:18px;line-height:30px;
                }
                .txt{
                    font-size:15px;line-height:18px;
                }
            }
        }
    }

    .prd_select_wrap{
        padding:30px 0;
        li{
            margin:0 35px;height:50px;line-height:50px;font-size:18px;
            &:after{
                right:-35px;
            }
        }
        .ipbx_item .u_selbox{
            .sel{
               height:50px;padding:10px 50px 10px 30px;font-size:18px;
           }
           &:after{right:16px;}
        }
    }

    .wrap_pay{
        .btn_wrap{
            > a, button {
                margin-right:10px;
            }
        } 
    }

    .field_pay{
        padding:0;
        .tit{
            margin-top:20px;
        }
        table{
            width:100%;
            th, td{font-size:16px;text-align:left;}
            th{width:199px;padding:12px 20px;}
            td{padding:12px 30px;}
            th{background-color:$lightgray;font-weight:400;}
            .tb-r{text-align:right !important;}
            .tb-c{text-align:center !important;}
        }
        .tbl-customer{
            overflow:hidden;
            tr:last-child{
                width:100%;margin-right:-1px;margin-bottom:0;
                th{width:199px;}
                td{width:1000px;}
            }
            tr{float:left;width:50%;margin-bottom:-1px;}
            tr:nth-child(odd){margin-right:-1px;}
            th{width:200px;}
            td{width:400px;}
        }
        .tbl-order.onlypc{
            th, td{text-align:center;}
            thead th{background-color:$darkgray3;color:$white;}
            tbody th{background-color:$white;}
            tbody tr:not(:first-child){
                th{padding-right:50px;}
            }
            tbody tr:nth-last-child(2){
                th,td{background-color:$lightgray}
            }
            tbody tr:last-child{
                th,td{background-color:#d7e7ee;}
            }
        }
        .cashbill{
            td{background-color:#d7e7ee;}
            
        }
        .cashbill2{
            .ipbx_item label{margin-right:10px;}
        }
        .sel_list{
            overflow:hidden;
            li{
                float:left;margin-right:50px;
                &:last-child{margin-right:0;}
                img{display:block;}
            }
            &.bank{
                li{margin-right:40px;text-align:center;}
                img{margin:0 auto;margin-bottom:4px;}
                input[type="radio"] + label{font-size:14px;}
            }
            input[type="radio"]{display:inline-block;}
            input[type="radio"] + label{display:inline-block;font-size:16px;padding-left:3px;}
        }
        .ipbx_item{
            margin-bottom:0;
            .u_selbox{
                .sel{
                    min-width:150px;width:auto;padding:11px 35px 11px 15px;font-size:16px;line-height:16px;background: $white url(../img/page/solution/ico_arrow.png) 90% 50% no-repeat;background-size: 13px 9px;
                }
            } 
            .u_ipbx{
                .int{min-width:240px;width:auto;}
            }
            &.ipbx_file{
                input[type="file"] {position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip:rect(0,0,0,0);border: 0;} 
                label {
                    display:inline-block;padding:8px 14px 8px 40px;font-size:14px;line-height:24px;color:$white;background:$darkgray2 url(../img/common/ico_file.png) 14px 50% no-repeat;background-size:16px 17px;cursor:pointer;
                }
                .upload_name{
                    min-width:300px;display:inline-block;padding:5px 7px;background-color:$white;cursor: pointer;
                }
            }
        }      
        p{font-size:16px;line-height:26px;}
        .msg{margin-top:15px;font-size:14px;line-height:18px;color:#4d5eab;}
        .ipbx_item + p{margin-top:10px;font-size:14px;}
        .agree_wrap{
            .agree_form{
                padding:0;
                .check_wrap{
                    padding:16px 20px;
                    border-bottom:1px solid $gray3;
                    span{color:$darkBlue3;}
                }
                .cont{
                    max-height:200px;margin:0;padding:30px 80px;background-color:$white;overflow-y:auto;
                }
            }
            .msg{color:$black;}
        }
    }
}

// 320 이하
@media all and (max-width:320px) {
    .prd_select_wrap{
        li{
            margin:0 10px;
            &:after{right:-12px;}
        }
        .ipbx_item .u_selbox{
            .sel{
                padding:7px 30px 6px 11px;
            }
        }
    }
}